/*
Crop an element to fit the container size. Must have a `position: relative`

  .container {
    position: relative;
    width: 50px;
    height: 50px;
    img {
      @include cropped-thumbnail();
    }
  }
 */

@mixin cropped-thumbnail() {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  transform: translate(-50%, -50%);
}
