@import '../styles/constants';

@mixin fieldContainer() {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;


  > label {
    padding: .35em 0;
    display: flex;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;;
    .FormField-label {
      flex: 1;
      color: $color-light;
      font-size: .875em;
    }
    .FormField-max-length {
      font-size: .625em;
      color: $color-light;
    }
  }

  > .field-wrapper {
    display: flex;
    padding: 1px;
    position: relative;
    width: 100%;
    border: 1px solid $border-color-dark;
    border-radius: $border-radius-small;
    background-color: white;
  }

  &.disabled .field-wrapper {
    opacity: .6;
  }


  &:hover > .field-wrapper {
    box-shadow: 0 0 0 3px rgba($border-color-dark, .25);
  }

  &.has-focus > .field-wrapper {
    border-color: $si-green;
    box-shadow: 0 0 0 3px rgba($si-green, .25);
  }

  &.has-error > .field-wrapper {
    border-color: $shoutit-red;
    box-shadow: 0 0 0 3px rgba($shoutit-red, .25);
  }

  &.inset > .field-wrapper {
    padding: .5em;
    border-radius: $border-radius-small;
    background-color: $background-color-light;
    box-shadow: inset $box-shadow-depth-0;
  }

  .FormField-ancillary {
    color: $color-light;
    margin: .5em .25em;
    font-size: .75em;
  }

}

@mixin field() {
  appearance: none;
  display: block;
  width: 100%;
  border: 0;
  padding: .625em;
  color: $color;
  outline: none;
  background-color: transparent;
  font-size: .875em;
  font-family: $font-family;
}
