@import '../styles/constants';

@mixin fieldContainer() {
  position: relative;
  display: flex;
  align-items: center;

  &.block {
    flex-direction: column;
    align-items: flex-start;
  }

  &.disabled {
    opacity: .6;
  }

  > label {
    display: inline-block;
    padding: .25em .25em;
    color: $color-light;
    font-size: .875em;
  }

  > .field-wrapper {
    display: flex;
    padding: 1px;
    position: relative;
    width: 100%;
    transition: box-shadow .075s;
    border: 1px solid $border-color-dark;
    border-radius: $border-radius-small;
    background-color: white;
  }

  &.has-focus > .field-wrapper {
    border-color: $si-green;
    box-shadow: 0 0 4px $si-green;
  }

  &.has-error > .field-wrapper {
    border-color: $shoutit-red;
    box-shadow: none;
  }
  &.has-error label {
    color: $shoutit-red;
  }

  &.inset > .field-wrapper {
    padding: .5em;
    border-radius: $border-radius-small;
    background-color: $background-color-light;
    box-shadow: inset $box-shadow-depth-0;
  }

}

@mixin field() {
  appearance: none;
  display: inline-block;
  width: 100%;
  border: 0;
  padding: .625em;
  color: $color;
  outline: none;
  background-color: transparent;
  font-size: .875em;
  font-family: $font-family;
}
