@import '../styles/constants';

%link {
  cursor: pointer;
  text-decoration: none;
  color: $color-link;
  &:hover,
  &:active,
  &.active {
    color: $color-link-hover;
  }
}

%sideLink {
  cursor: pointer;
  text-decoration: none;
  color: $color-text;
  &:hover,
  &:active,
  &.active {
    color: $color-link;
  }
}

@mixin focusOutline() {
  outline: none;
  box-shadow: 0 0 0 3px rgba($color-primary, .25);
}
