@import "~sass-mediaqueries/_media-queries.scss";

// Use the same width specified in deviceWidths.js

$smartphone-max: 435px;
$tablet-max: 768px;
$desktop-min: 769px;

@mixin smartphone() {
  @include mq($max-width: $smartphone-max) {
    @content;
  }
}

@mixin tablet() {
  @include mq($max-width: $tablet-max) {
    @content;
  }
}

@mixin desktop() {
  @include mq($min-width: $desktop-min) {
    @content;
  }
}