@import '../styles/constants';
@import '../styles/mixins/mq';

.ShoutsList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

@include desktop() {
  .ShoutsList-item {
    padding: 0 $horizontal-spacing*1.5 $vertical-spacing*1.5 0;
    flex: 1 1 auto;
  }
}

@include tablet() {
  .ShoutsList-item {
    padding: $vertical-spacing $horizontal-spacing;
    flex: 1 1 auto;
  }
}