@import '../styles/constants.scss';

.ShoutPreview {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
}

.ShoutPreview-body {
  display: flex;
  align-items: center;
  h3 {
    margin-bottom: 0;

    flex: 1;
  }
  .ShoutType {
    font-size: .875em;
  }
}

.ShoutPreview-footer {
  display: flex;
  align-items: center;
  margin-top: .75em;
  color: $color-text-light;
  font-size: .75em;
  span + .TimeAgo {
    margin-left: .5em;
  }
}
