@import '../styles/constants.scss';

.ShoutsListToolbar {
  font-size: 0.875em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ShoutsListToolbar + .ShoutsList {
  margin-top: $vertical-spacing;
}

.ShoutsListToolbar-form {
  display: flex;
  align-items: center;
  label {
    margin-right: $horizontal-spacing/2;
    color: $color-text-light;
  }
}

