@import '../styles/constants';

.ShoutsList {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
}

.ShoutsList-item {
  padding: 0 $horizontal-spacing*2 $vertical-spacing*2 0;

  flex: 0 1 auto;
}
