@import '../styles/constants';
@import '../styles/mixins/mq';

.ShoutsList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.ShoutsList-item {
  flex-shrink: 0;
}

@include desktop() {
  .ShoutsList-item {
    width: 320px;
    padding: 0 $horizontal-spacing*1.5 $vertical-spacing*1.5 0;
  }
}

@include smartphone() {
  .ShoutsList-item {
    width: 100%;
    padding: $vertical-spacing $horizontal-spacing/2;
  }
}

@include tablet() {
  .ShoutsList-item {
    width: 320px;
    padding: $vertical-spacing $horizontal-spacing/2;
  }
}