@import "../styles/constants.scss";
@import "../styles/mixins/ellipsis";

.ShoutPreview {
  position: relative;
  z-index: 1;

  display: block;

  width: 100%;

  .ShoutPrice {
    position: absolute;
    z-index: 2;
    top: .5rem;
    right: -.5rem;
  }

}

.ShoutPreview-title {
  margin-bottom: .5rem;
}

.ShoutPreview-details {
  display: flex;

  color: $color-light;

  font-size: 0.75rem;

  justify-content: space-between;
  .ShoutPreview-profile {
    @include ellipsis();
    .ProfileAvatar {
      opacity: 1;
      &:hover {
        opacity: .7;
      }
    }
  }
  .CategoryListItem {
    @include ellipsis();
    &:hover {
      color: $si-green;
    }
  }
}
