@import '../styles/constants.scss';

.ShoutForm {

  .Frame-header {
    padding-top: 0;
  }

}

.ShoutForm-advanced {
  display: flex;
}

.ShoutForm-buttons {
  text-align: center;
  padding-top: 1rem;
}
