@import "../styles/constants.scss";

.ShoutType {
  &.badge {
    display: inline-block;
    font-size: .75rem;
    color: white;
    &.offer {
      background: $si-green;
      &:before {
        border-bottom: 8px solid darken($si-green, 20);
      }
    }
    &.request {
      background-color: $shoutit-blue;
      &:before {
        border-bottom: 8px solid darken($shoutit-blue, 20);
      }
    }
    background: $si-green;
    padding: 0.35em .7em;
    box-shadow: -1px 1px 3px rgba(0,0,0,.4);
    &:before {
      content: '';
      position: absolute;
      transform: rotate(-180deg);
      width: 0;
      height: 0;
      right: 0;
      bottom: -8px;
      border-left: 8px solid transparent;
      border-right: 0 solid transparent;
      z-index: 1;
    }
  }
  &.plain {
    display: inline-block;
    border-radius: $border-radius;
    padding: .25rem .5rem;
    margin-bottom: .5rem;
    &.offer {
      background: $si-green;
      &:before {
        border-bottom: 8px solid darken($si-green, 20);
      }
    }
    &.request {
      color: white;
      background: $shoutit-blue;
    }
  }
  &.free {
    text-transform: uppercase;
    // background-color: $si-blue;
  }
}
