@import "../styles/constants.scss";
@import "../styles/mixins/ellipsis.scss";

.SearchbarResults {
  h3 {
    color: $color-light;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 0.625rem;
    padding: .5rem;
  }
}

.SearchbarResults-list {
  margin-bottom: .5rem;
  &:first-child {
  }
  &:not(:first-child) {
    border-top: 1px solid $border-color;
  }
}

.SearchbarResult {
  display: flex;
  align-items: center;
}

.SearchbarResult-image {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: .5rem;
  border-radius: $border-radius-small;
  vertical-align: middle;
}

.SearchbarResult-label {
  @include ellipsis();
  vertical-align: middle;
}

a.SearchbarResults-show-more {
  padding: 0 .5rem;
  display: block;
  font-size: 0.875rem;
  text-align: center;
}
