@import "../styles/constants.scss";
@import "../styles/mixins/ellipsis.scss";

.SearchFilters {
  border-radius: $border-radius;
  background-color: white;
  position: relative;
  box-shadow: $box-shadow-depth-0;
  padding: .25rem .5rem .5rem;
  h3 {
    margin: 0;
    margin-bottom: .625rem;
    font-size: .625rem;
    text-transform: uppercase;
    color: $color-light;
    font-weight: normal;
    padding: .5rem;
    padding-bottom: .625rem;
    border-bottom: 1px solid $border-color;
  }

  .Form {
    > .FormField,
    > .LocationField,
    > .CategoryPicker,
    > .SearchFilters-price {
      margin-top: .5rem;
    }
  }

}

.SearchFilters-price {
  display: flex;
  > .FormField {
    width: 50%;
    &:first-child {
      margin-right: .25rem;
    }
    &:last-child {
      margin-left: .25rem;
    }
  }
}
.SearchFilters-buttons {
  margin-top: 1rem;
}
