@import "../styles/constants.scss";
@import "../styles/mixins/links.scss";

.SearchOverlay.has-results {
  padding-bottom: .5rem;
}

.SearchOverlay-placeholder {
  color: $color-text-light;
  text-align: center;
  font-size: 0.75rem;
  padding: 1rem;
}

.SearchOverlay-results {
  .List h3 {
    background-color: $background-color;
  }
  .List:not(:first-child) h3 {
    margin-top: .75rem;
  }
}

.SearchOverlay-more {
  @include link();
  display: block;
  margin-top: .5rem;
  font-size: 0.875em;
  text-align: center;
}
