@import "./constants/colors.scss";
@import "./constants/dimensions.scss";
@import "./constants/typography.scss";

.htmlTextarea,
.htmlInput:not([type="checkbox"]) {
  padding: 0.4rem 0.625rem;
  font-size: 0.875rem;
  border-radius: $border-radius;
  border: 1px solid $border-color-field;
  &.block {
    display: block;
    width: 100%;
  }
}

.htmlTextarea {
  padding: 0.4rem 0.625rem;
}

.htmlInput:not([type="checkbox"]) {
  line-height: 30px;
  padding: 0 0.625rem;
}

.htmlContentWidth {
  width: $content-width;
  margin: 0 auto;
}

ul.htmlSelectableList {
  list-style: none;
  padding: 0;
  margin: 0.25rem 0;
  li {
    margin: 0;
    a {
      padding: .25rem .5rem;
      font-size: .875rem;
      display: block;
      width: 100%;
      color: $color;
      &:hover, &:focus {
        background-color: $background-color;
      }
    }
  }
}
