@import "./constants.scss";

.htmlTextarea,
.htmlInput:not([type="checkbox"]) {
  padding: 0.625rem;
  outline: none;
  border: 1px solid $border-color-field;
  border-radius: $border-radius;

  font-family: $font-family;
  font-size: 0.875rem;
  &.block {
    display: block;
    width: 100%;
  }
}

.htmlTextarea {
  padding: 0.625rem;
}

.htmlContentWidth {
  width: $content-width;
  margin: 0 auto;
}

ul.htmlNoList {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin: 0;
  }
}
ul.htmlSelectableList {
  margin: 0.25rem 0;
  padding: 0;

  list-style: none;
  li {
    margin: 0;
    a {
      display: block;

      width: 100%;
      padding: .25rem .5rem;

      color: $color;

      font-size: .875rem;
      &:hover, &:focus {
        background-color: $background-color;
      }
    }
  }
}

p.htmlErrorParagraph {
  color: $shoutit-red;
}

.htmlAncillary {
  color: $color-lighter;
  font-size: 0.875em;
}
