@import './constants/colors.scss';
@import "../styles/mixins/links.scss";

.ListOverlay {
  display: flex;
  flex-direction: column;
  transform: translateZ(0); // fix issue with scrollbars on chrome
}

.ListOverlay-header {
  display: flex;
  align-items: center;
  padding: .75em 1em;
  border-bottom: 1px solid $border-color;
  .ListOverlay-title {
    flex: 1;
  }
  .ListOverlay-action {
    @include link();
    cursor: pointer;
    font-size: .75em;
  }
}

.ListOverlay-body {
  position: relative;
  overflow: auto;

  flex: 0 1 400px;
}

.ListOverlay-empty > p {
  padding: 20px 10px;
  text-align: center;
  color: $color-text-light;
  font-weight: 500;
}

.ListOverlay-footer {
  text-align: center;
  a {
    display: block;
    padding: .5em;
    color: $white;
    background-color: $background-color-button-primary;
    font-size: .875em;
    &:hover {
      color: $white;
      background-color: $background-color-button-primary-hover;
    }
  }
}
