@import "./constants/colors.scss";

.ListOverlay {
  display: flex;
  flex-direction: column;

  transform: translateZ(0); // fix issue with scrollbars on chrome
}

.ListOverlay-header {
  padding: 10px;
  font-size: 14px;
  overflow: auto;
  border-bottom: 1px solid $border-color-dark;
}

.ListOverlay-body {
  position: relative;
  flex: 0 1 400px;
  overflow: auto;
}

.ListOverlay-empty > p {
  padding: 20px 10px;
  color: $color-light;
  text-align: center;
  font-weight: bold;
}

.ListOverlay-footer {
  text-align: center;
  a {
    background-color: $green;
    font-size: 0.875rem;
    display: block;
    padding: .5rem;
    color: white;
    &:hover {
      color: white;
      background-color: $green-dark;
    }
  }
}
