
// @import "bootstrap.scss";
// @import "grid.scss";
// @import "sprites.scss";
//
// @import "constants/colors.scss";
// @import "constants/defaults";
//
//

@import './constants.scss';
@import './mixins/links';
$font-family-sans-serif: $font-family;
$font-size-base: $base-font-size;
$tooltip-bg: rgba(black, .8);

/*!rtl:begin:ignore*/
@import './bootstrap-custom.scss';
@import './bootstrap-theme.scss';
/*!rtl:end:ignore*/

#content {
  height: 100%;
}

* {
  box-sizing: border-box;
}

html:not([dir=rtl]) .rtl {
  font-family: $font-family-rtl;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  font-family: $font-family;
  font-size: $base-font-size;
}

body {
  height: 100%;
  color: $color-text;
  background-color: $background-color;
  line-height: 1.2em;

  -webkit-font-smoothing: subpixel-antialiased;
}

a {
  @include link();
}

::-webkit-input-placeholder {
  color: $color-placeholder;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: $color-placeholder;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: $color-placeholder;
}
:-ms-input-placeholder {
  color: $color-placeholder;
}

:focus::-webkit-input-placeholder {
  color: lighten($color-placeholder, 20);
}
:focus:-moz-placeholder {
  /* Firefox 18- */
  color: lighten($color-placeholder, 20);
}
:focus::-moz-placeholder {
  /* Firefox 19+ */
  color: lighten($color-placeholder, 20);
}
:focus:-ms-input-placeholder {
  color: lighten($color-placeholder, 20);
}

strong {
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: 500;
  line-height: 1.2em;
  &:not(:last-child) {
    margin-bottom: .5em;
  }
  &:last-child {
    margin-bottom: 0;
  }
  & + p,
  & + ul,
  & + ol {
    padding-top: 0;
  }
  p + &,
  ul + &,
  ol + & {
    margin-top: $vertical-spacing;
  }
}

h1, h2 {
  font-weight: 300;
}

p {
  margin: 0;
  padding: 0;
  padding-top: $vertical-spacing;
}
p + p {
  padding-top: 0;
}

p + ul, p + ol {
  padding-top: $vertical-spacing/2;
}

.text-offer {
  color: $color-offer;
  font-weight: 500;
}

.text-request {
  color: $color-request;
  font-weight: 500;
}



@import 'html.scss';
