
// @import "bootstrap.scss";
// @import "grid.scss";
// @import "sprites.scss";
//
// @import "constants/colors.scss";
// @import "constants/defaults";
//
//
@import "./constants/colors.scss";
@import "./constants/dimensions.scss";
@import "./constants/typography.scss";

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  font-size: $base-font-size;
  font-family: -apple-system, "Helvetica Neue", Arial;
}

body {
  min-height: 100%;
  background-color: $background-color-light;
  color: $color;
  -webkit-font-smoothing: subpixel-antialiased;
}

a {
  text-decoration: none;
  color: $color-active;
}

@import "html.scss";
//
// // External libs
// @import "dropzone.scss";
// @import "image-gallery.scss";
// @import "video-player.scss";
// @import "tagsinput.scss";
//
// // Components and Pages
// @import "pages/_mixins.scss";
// // @import "pages/general.scss";
//
// @import "components/card.scss";
// @import "components/shout.scss";
// @import "components/shout_form.scss";
// @import "components/location_search.scss";
// @import "components/profile_menu.scss";
// @import "components/profile_info_tooltip.scss";
// @import "components/popup_list.scss";
// // @import "components/topbar_buttons.scss";
// @import "components/si_buttons.scss";
// @import "components/discover.scss";
//
// @import "pages/search.scss";
// @import "pages/profilepage.scss";
