
// @import "bootstrap.scss";
// @import "grid.scss";
// @import "sprites.scss";
//
// @import "constants/colors.scss";
// @import "constants/defaults";
//
//

@import "./constants.scss";

#content {
  height: 100%;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: $base-font-size;
  font-family: $font-family;
}

body {
  height: 100%;
  background-color: $background-color;
  color: $color;
  -webkit-font-smoothing: subpixel-antialiased;
}

a {
  text-decoration: none;
  color: $color-active;
  &:hover {
    color: $color-active-hover;
  }
}

p {
  line-height: 1.25em;
}

::-webkit-input-placeholder {
  color: $color-placeholder;
}
:-moz-placeholder { /* Firefox 18- */
  color: $color-placeholder;
}
::-moz-placeholder {  /* Firefox 19+ */
  color: $color-placeholder;
}
:-ms-input-placeholder {
  color: $color-placeholder;
}

:focus::-webkit-input-placeholder {
  color: lighten($color-placeholder, 20);
}
:focus:-moz-placeholder { /* Firefox 18- */
  color: lighten($color-placeholder, 20);
}
:focus::-moz-placeholder {  /* Firefox 19+ */
  color: lighten($color-placeholder, 20);
}
:focus:-ms-input-placeholder {
  color: lighten($color-placeholder, 20);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  margin-bottom: .625em;
  margin-top: 0;
}

@import "html.scss";
