// Default features to extend
.si-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition: all .1s ease-out;
  cursor: pointer;
  user-select: none;
  border-radius: 4px;
}
// Mixins

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin container($direction, $width: auto) {
  float: $direction;
  width: $width;
  padding: $default-spacing;
}

@mixin paper() {
  background-color: $si-white;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  &:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  }
}

@mixin button($width, $height, $font-size: $default-font-size) {
  @extend .si-button;
  font-size: $font-size;
  width: $width;
  height: $height;
  color: $si-gray;
  padding: ($font-size / 2);
  line-height: ($height / 2);
  &:hover{
    color: darken($si-gray,10%);
  }
}

@mixin green-button($width, $height, $font-size: $default-font-size)  {
  @extend .si-button;
  font-size: $font-size;
  width: $width;
  height: $height;
  background: $si-green;
  color: $si-white;
  padding: ($font-size + 0.2rem) 0;
  line-height: 0;
  &:hover{
    background: darken($si-green, 5%);
  }
}

@mixin colored-button($width, $height, $font-size: $default-font-size, $bgcolor: $si-gray)  {
  @extend .si-button;
  font-size: $font-size;
  width: $width;
  height: $height;
  background: $bgcolor;
  color: $si-white;
  padding: ($font-size + 0.2rem) 0;
  line-height: 0;
  &:hover{
    background: lighten($bgcolor, 5%);
  }
}

@mixin border-button($width, $height, $font-size: $default-font-size)  {
  @extend .si-button;
  font-size: $font-size;
  width: $width;
  height: $height;
  background: rgba(255,255,255,0);
  color: $si-white;
  padding: ($font-size / 2);
  line-height: ($height / 2);
  box-shadow:inset 0px 0px 0px 2px $si-white;
  &:hover{
    background: rgba(255,255,255,.2);
  }
}