.homepage-holder {
  padding-top: 11px;
  .switch-bar {
    .grid-btn {
      cursor: pointer;
      margin: 20px 5px 10px;
    }
    .list-btn {
      cursor: pointer;
      margin: 20px 5px 10px;
    }
  }
}
