@import "../defaults.scss";
@import "../colors.scss";
@import "../pages/mixins.scss";

.mainpage {
  .si-container {
    overflow: hidden;
  }
  h1 {
    font-size: 3.0rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  h2 {
    font-size: 2.6rem;
    font-weight: 500;
    color: #747476;
    letter-spacing: 1px;
  }
  .mainpage-nav {
    padding-top: 20px;
    height: 75px;
    background: $si-white;
    .nav-left {
      padding-left:40px;
    }
    .nav-right {
      padding-right:40px;
      .btn-login {
        @include green-button(119px,38px, 1.6rem);
        float: right;
        margin-left:25px;
      }
      .btn-d {
        @include button(70px, 30px, 1.6rem);
        margin-left:15px;
        float: right;
      }
    }
  }
  .mainpage-cover {
    position: relative;
    min-height: 471px;
    // background: url(../img/cover.jpg);
    background-size: cover;
    .mainpage-cover-opacity {
      position: absolute;
      height: 471px;
      background-color: rgba(0,0,0,0.4);
      .hero {
        margin-top: 175px;
        h1 {
          color: $si_white;
          text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
          margin-left: 10px;
        }
        p {
          color: $si-white;
          padding: 10px;
          max-width: 522px;
          font-size: 2.0rem;
          font-weight: 300;
          text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        }
        .btn-explore {
          @include green-button(170px, 50px, 1.9rem);
          margin-right: 20px;
        }
        .btn-how {
          @include border-button(170px, 50px, 1.9rem);
        }
        .icon {
          margin-top: 15px;
        }
      }
    }

  }
  .mainpage-search {
    height: 90px;
    background: $si-gray;
    padding-top: 23px;
    overflow: hidden;
  }
  .mainpage-explore {
    padding-top: 20px;
    padding-bottom: 20px;
    background: $si-bg;
    h2 {
      text-align:center;
    }
  }
  .mainpage-how {
    height: 650px;
    background: $si-white;
    h2 {
      text-align: center;
      margin: 30px 0 60px;
      height: 50px;
      background: $si-bg;
    }
  }
  .mainpage-footer {
    height: 233px;
    background-color: $si-footer-bg;
    .logo-section{
      .icon {
        margin: 38px auto 107px 118px;
      }
      .copyright {
        margin-left: 31px;
        color: $si-white;
        font-size: 1.2rem;
      }
    }
    .links-section {
      h3 {
        color: $si-white;
        font-weight: 700;
        font-size: 1.4rem;
        margin-top: 50px;
        margin-bottom: 29px;
        color: $si-footer-text;
      }
      a {
        display: block;
        color: $si-white;
        margin:0 auto 12px 0;
        font-weight: 300;
        font-size: 1.4rem;
        color: $si-footer-text;
      }
      .icon {
        margin: 0 auto 7px;
      }

    }
  }
}
