.profile-holder {
  .profile-cover {
    @include paper();
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
  }
  .profile-cover-edit-button {
    position: absolute;
    left: 250px;
    z-index:1;
    top: 345px;
    color: $si-white;
    float: left;
    cursor: pointer;
    .icon {
      display: inline-block;
      vertical-align: bottom;
    }
    span {
      font-size: $default-font-size;
      font-weight: 600;
      margin-left: 5px;
    }
  }
  .profile-cover-editmode {
    background: rgba(0,0,0,0.6);
    height: inherit;
    cursor: pointer;
    .img-holder {
      margin: 116px auto 50px;
    }
    .icon {
      margin: 15px auto;
    }
    h3 {
      text-align: center;
      color: $si-white;
    }
    .save-btn {
      @include green-button(162px, 25px, 1.6rem);
      font-weight: 600;
    }
    .cancel-btn {
      @include colored-button(121px, 25px, 1.6rem, lighten($si-gray, 10%));
      margin-left: 10px;
      font-weight: 600;
    }
  }
  .profile-picture-editbox {
    position: absolute;
    top: -61px;
    left: 49px;
    z-index: 2;
    background: rgba(0,0,0,0.6);
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
    @include size(122px, 122px);
    .icon {
      margin: 40px auto;
    }
  }
  .profile-edit-card {
    overflow: visible;
    padding: 7px 10px;
    .form-group {
      margin-bottom: 7px;
    }
    .form-control {
      color: lighten($si-gray, 10%);
      border-color: $si-green;
      &.user-name-editbox {
        font-size: 1.8rem;
        font-weight: 700;
        height: 40px;
      }
      &.user-website-editbox {
        font-size:1.3rem;
        height: 25px;
      }
    }
    .loc-search-input {
      width: 100%;
      font-size:1.3rem;
      height: 25px;
    }
    .loc-search-list {
      top: 23px;
      width: 100%;
      font-size: 1.3rem;
    }
  }
  .profile-bio-item {
    font-size: 1.2rem;
    color: $si-light-gray;
    height: 25px;
    padding: 0 15px;
  }
  .switch-bar-title {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    margin: 20px 5px 10px;
    color: $si-light-gray2;
  }
}