.search-page-tags {
  .card-header {
    margin-bottom: 15px;
  }
  a {
    color: $si-blue;
    font-size: $default-font-size;
    margin: 7px;
    &:hover {
        color: $si-light-blue;
    }
  }
}