{
  "parser": "babel-eslint",
  "plugins": ["react"],
  "extends": ["airbnb", "plugin:import/errors", "plugin:import/warnings"],
  "rules": {
    "no-unused-expressions": 0,
    "spaced-comment": 0,
    "padded-blocks": 0,
    "arrow-body-style": 0,
    "no-nested-ternary": 0,
    "max-len": 0,
    "default-case": 0,
    "camelcase": 0,
    "no-case-declarations": 0,
    "no-param-reassign": 0,
    "no-shadow": 0,
    "import/no-named-as-default": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-closing-bracket-location": 0
  },
  "settings": {
    "import/ignore": [
      "node_modules",
      "\\.(scss|less|css|json)$"
    ]
  },
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  }
}
