{
  "parser": "babel-eslint",
  "plugins": ["react"],
  "extends": ["airbnb", "plugin:import/errors", "plugin:import/warnings"],
  "rules": {
    "max-len": 0,
    "default-case": 0,
    "camelcase": 0,
    "no-case-declarations": 0,
    "no-param-reassign": 0,
    "no-shadow": 0,
    "react/prop-types": 0,
    "react/prefer-stateless-function": 0,
    "react/no-did-mount-set-state": 0,
    "react/no-did-update-set-state": 0,
    "react/jsx-closing-bracket-location": 0
  },
  "settings": {
    "import/ignore": [
      "node_modules",
      "\\.coffee$",
      "\\.(scss|less|css)$"
    ]
  },
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  }
}
