{
  "parser": "babel-eslint",
  "plugins": ["react"],
  "extends": ["airbnb", "plugin:import/errors", "plugin:import/warnings"],
  "rules": {
    "camelcase": 0,
    "default-case": 0,
    "no-param-reassign": 0,
    "no-case-declarations": 0,
    "no-unused-expressions": 0,
    "arrow-body-style": 0,
    "padded-blocks": 0,
    "global-require": 0,
    "max-len": 0,
    "no-shadow": 0,
    "import/no-named-as-default": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-closing-bracket-location": 0,
    "react/jsx-no-bind": 0,
    "react/jsx-first-prop-new-line": 0,
    "react/jsx-curly-spacing": [2, "always"],
  },
  "settings": {
    "import/ignore": [
      "node_modules",
      "\\.(scss|less|css|json)$"
    ]
  },
  "env": {
    "es6": true,
    "mocha": true,
    "browser": false,
  }
}
