@import '../styles/constants.scss';
@import '../styles/mixins/ellipsis.scss';
@import '../styles/mixins/mq.scss';
$card-border-radius: 2px;

.Card {
  position: relative;
  display: inline-block;
  padding-bottom: 110%;
}

.Card-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

@include desktop() {
  .Card.size-flexible-medium {
    max-width: 320px;
  }
}

.CardImage {
  position: relative;
  flex: 1;
}

.CardImage > span {
  position: absolute;
  top: .1875em;
  right: .1875em;
  bottom: 0;
  left: .1875em;
  background-color: $white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.CardBody {
  padding: .75em $horizontal-spacing 1.125em $horizontal-spacing;
  color: $color-text;
  border-bottom-right-radius: $card-border-radius;
  border-bottom-left-radius: $card-border-radius;
}

a > .Card {
  color: $color-text;
}
