@import '../styles/constants.scss';

.Footer {
  color: $grey;
}

.Footer h3 {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 500;
}
.Footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding: $vertical-spacing $horizontal-spacing;

  flex-wrap: wrap;
}

.Footer-links {
  margin: $vertical-spacing $horizontal-spacing*2;
  a {
    display: block;
    padding: .25em 0;
    color: #E9E9E9;
    &:hover {
      color: $white;
    }
  }
  &.social {
    margin-top: 0;
    text-align: center;
    a {
      display: inline-block;
      vertical-align: middle;
      padding: 0 $horizontal-spacing/2;
    }
  }
}

.Footer-apps {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: column;

  flex: 1;

  a {
    display: block;
  }
}

.Footer-copyright {
  padding-top: $vertical-spacing;
  text-align: center;
  font-size: .875em;
}
