@import "../styles/constants.scss";

.Footer {
  margin-top: 12rem;
  padding-bottom: 1rem;
  background-color: $background-color-darker;
  color: $color-lighter;
  font-size: 0.875rem;
}

.Footer h3 {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: normal;
}
.Footer-wrapper {
  padding: 1rem 0;
  display: flex;
}

.Footer-logo {
  margin-right: 3rem;
}
.Footer-links {
  margin: 0 2rem;
  a {
    display: block;
    color: white;
    padding: 0.25rem 0;
  }
}

.Footer-apps {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;

  a {
    display: block;
  }
}

.Footer-copyright {
  text-align: center;
  font-size: 0.65rem;
}
