@import '../styles/constants.scss';

.Frame {
  width: 100%;
  max-width: 400px;
  margin: 3rem auto;
  border-radius: $border-radius;
  background-color: $white;
  box-shadow: $box-shadow-depth-1;
  &.transparent {
    background-color: transparent;
    box-shadow: none;
  }
}

.Frame-body {
  padding: 1rem;

  .Frame.transparent & {
    margin-top: 1rem;
    border-radius: $border-radius;
    background-color: $white;
    box-shadow: $box-shadow-depth-0;
  }
}

.Frame-header {
  padding-top: 1rem;
}

.Frame-header h1 {
  margin: 0;
  padding-top: 2.75em;
  text-align: center;
  background-image: url('../../assets/images/mark.svg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 2em;
  font-size: 1.5rem;
  font-weight: lighter;
}

.Frame-form {
  width: 75%;
  margin: 0 auto;
  .TextField {
    margin-bottom: .5rem;
  }
}

.Frame-footer {
  margin-top: 1rem;
  padding: .75rem 1rem;
  color: darken(white, 10);
  border-bottom-right-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  background-color: $background-color-dark;
  a,
  a:hover {
    color: $white;
  }
}
