@import "../styles/constants.scss";

.Header {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto 5px;
}

.Header-logo {
  padding: 10px;
}

.Header-separator {
  margin: 0 10px;
  position: relative;
  top: 6px;
  display: inline-block;
  height: 20px;
  content: "";
  border-right: 1px solid #ccc;
}

.Header-tools {
  > * {
    margin: 0 .5rem;
  }
}

.Header-links {
  margin-left: 1rem;
  a {
    margin: 0 1rem;
    color: $color-text;
    padding: .5rem;
  }
}

.Header-link-active {
  border-radius: 0;
  border-bottom: 2px solid $color-primary;
}

.Header-search {
  display: flex;
  flex: 1;
  justify-content: center;
  margin: 0 2rem;
}
