@import '../styles/constants.scss';

.Header {
  position: relative;
  display: flex;
  flex-direction: column;
}

.Header-location {
  margin-left: $horizontal-spacing;
  display: flex;
  align-items: center;
  color: $color-text-light;
  cursor: pointer;
  span {
    margin-left: .5em;
  }
}

.Header-logo a {
  display: inline-block;
  position: relative;
  top: 3px;
}

.Navbar {
  display: flex;
  justify-content: center;
  font-size: .875em;
  a {
    display: inline-block;
    margin: 0 $horizontal-spacing;
    padding-bottom: .25em;
    color: $color-text-light;
    border-bottom: 1px solid transparent;
    &.active {
      color: $color-text;
      border-color: $color-primary;
    }
    // &:hover {
    //   color: $color-text;
    // }
    // &:active {
    //   color: $color-primary;
    // }
  }
}

.Header-toolbar-loggedIn {
  display: flex;
  align-items: center;
  margin-right: .5em;
  > * {
    margin: 0 .5em;
  }
  .ProfileAvatar {
    width: 30px;
    height: 30px;
  }
}

.Header-top {
  display: flex;
  align-items: center;
  font-size: .875em;

  flex: 1;
}

.Header-toolbar {
  display: flex;
  align-items: center;
}

.Header-search {
  display: flex;
  justify-content: center;
  margin: 0 $horizontal-spacing;
  flex: 1;
}
