@import '../styles/constants.scss';
.List {
  h3 {
    margin: 0;
    padding: .75em .5em;
    text-transform: uppercase;
    color: $color-text-light;
    border-bottom: 1px solid $border-color;
    font-size: .675em;
    + ul > li:first-child {
      border-top-color: transparent;
    }
  }
  > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    > li {
      border-top: 1px solid $border-color;
      &:first-child {
        border-top-color: transparent;
      }
      &:hover {
        background-color: $background-color;
      }
    }
  }
}
