@import "../styles/constants.scss";
.List {

  h3 {
    font-size: .675em;
    text-transform: uppercase;
    color: $color-text-light;
    padding: .75em .5em;
    margin: 0;
    border-bottom: 1px solid $border-color;
    + ul > li:first-child {
      border-top-color: transparent;
    }
  }
  > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    > li {
      margin: 0 .35em;
      padding: .35em 0;
      border-top: 1px solid $border-color;
      &:last-child {
        border-bottom: 1px solid transparent;
      }
      &:hover {
        padding-left: .35em;
        padding-right: .35em;
        margin: 0;
        border-bottom: 1px solid $border-color;
        background-color: #FAFAFA;
        + li {
          border-top: 0;
        }
      }
    }
  }
}
