@import '../styles/constants.scss';
.List {
  h3 {
    margin: 0;
    padding: .75em .5em;
    text-transform: uppercase;
    color: $color-text-light;
    border-bottom: 1px solid $border-color;
    font-size: .675em;
    + ul > li:first-child {
      border-top-color: transparent;
    }
  }
  > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    > li {
      margin: 0 .35em;
      padding: 0;
      border-top: 1px solid $border-color;
      &:first-child {
        border-top-color: transparent;
      }
      &:last-child {
        border-bottom-width: 0;
      }
      &:hover,
      &.is-unread {
        margin: 0;
        padding: 0 .35em;
        background-color: $background-color;
        border-bottom: 1px solid $border-color;
        + li {
          border-top: 0;
        }
      }
      &:hover:not(.is-unread) {
        background-color: $background-color-light;
      }
      &:hover.is-unread {
        background-color: darken($background-color, 1);
      }
    }
  }
}
