@import "../styles/constants";

.Page {
  display: flex;
}

.Page-column {
  width: $page-width-column;
  margin: $page-column-margin;
  > div {
    margin-bottom: .75rem;
  }
}

.Page-body {
  padding-right: $page-body-padding-horizontal;
  padding-left: $page-body-padding-horizontal;

  flex: 1;
}

.Page-sticky-content {
  position: sticky;
  top: $header-height+24px;
}

.Page-sticky {
  position: sticky;
  z-index: 2;
  top: $header-height+24px;
}

.Page-sticky-fixed  {
  width: $page-width-column;
}

.Page-sticky.Page-sticky-fixed.Page-is-sticky {
  position: fixed;

  backface-visibility: hidden;
}

.Page-sticky.Page-sticky-fixed.Page-is-absolute {
  position: absolute;
}
