@import "../styles/constants";
$width-column: 220px;

.Page {
  display: flex;
}

.Page-column {
  margin: 12px;
  width: $width-column;
}

.Page-body {
  flex: 1;
}

.Page-sticky-content {
  position: sticky;
  top: $header-height+24px;
}

.Page-sticky {
  position: sticky;
  top: $header-height+24px;
}

.Page-sticky-fixed  {
  width: $width-column;
}

.Page-sticky.Page-sticky-fixed.Page-is-sticky {
  position: fixed;
  backface-visibility: hidden;
}

.Page-sticky.Page-sticky-fixed.Page-is-absolute {
  position: absolute;
}
