@import '../styles/constants';
@import '../styles/mixins/mq';

.Page {
  padding-top: $vertical-spacing/3;
  padding-bottom: $vertical-spacing * 2;
}
@include desktop() {
  .Page {
    display: flex;
    padding: $vertical-spacing $horizontal-spacing;
  }
}

.PageBody {
  position: relative;

  flex: 1;
}

.PageColumn {
  margin-bottom: $vertical-spacing;
  .Card + .Card,
  .CardList + .Card,
  .Card + .CardList {
    margin-top: $vertical-spacing;
  }
}

@include desktop() {
  .PageColumn:not(.wide) {
    width: 17%;
    min-width: 240px;
    max-width: 280px;
  }
  .PageColumn.wide {
    width: 33%;
    min-width: 240px;
    max-width: 400px;
  }
  .PageColumn.start:not(.wide) {
    margin-right: $horizontal-spacing;
  }
  .PageColumn.start.wide {
    margin-right: $horizontal-spacing/2;
  }
  .PageColumn.end:not(.wide) {
    margin-left: $horizontal-spacing;
  }
  .PageColumn.end.wide {
    margin-left: $horizontal-spacing/2;
  }
  .PageColumn.sticky {
    position: sticky;
    top: $header-height + 18px;
    margin-bottom: 0;
  }
}


.ResponsiveLayout.full-height {
  .Page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-bottom: $vertical-spacing;
    padding-left: $horizontal-spacing/2;
  }
}
