@import '../styles/constants';
@import '../styles/mixins/mq';

.Page {
  display: flex;
  padding-top: $vertical-spacing;
}

@include smartphone() {
  .Page {
    padding-top: $vertical-spacing/3;
  }
}

.PageColumn {
  width: 17%;
  min-width: 240px;
  max-width: 280px;
  margin-bottom: $vertical-spacing;
  .Card + .Card,
  .CardList + .Card,
  .Card + .CardList {
    margin-top: $vertical-spacing;
  }
}

@include tablet() {
  .PageColumn {
    display: none;
  }  
}

.PageBody {
  position: relative;
  flex: 1;
}

.PageColumn.start {
  margin-right: $horizontal-spacing;
}

.PageColumn.end {
  margin-left: $horizontal-spacing;
}

.PageColumn.sticky {
  position: sticky;
  top: $header-height + 18px;
}