@import '../styles/constants.scss';

.ResponsiveLayout {
  text-align: center;
  padding: 0 $horizontal-spacing;
  > span {
    width: 100%;
    text-align: left;
  }
}

.ResponsiveLayout.min-width {
  > span {
    min-width: 768px;
    display: inline-block;
  }
}

.ResponsiveLayout.max-width {
  > span {
    max-width: 1400px;
    display: inline-block;
  }
}
