@import '../styles/constants.scss';
@import '../styles/mixins/mq.scss';

.ResponsiveLayout {
  text-align: center;
  > span {
    display: inline-block;
    width: 100%;
    text-align: left;
  }
}


.ResponsiveLayout.min-width {
  &.default > span {
    min-width: 768px;
  }
}
.ResponsiveLayout.min-width {
  &.default > span {
    min-width: 768px;
  }
  &.small > span {
    min-width: 280px;
  }
}

.ResponsiveLayout.max-width {
  &.default > span {
    max-width: 1200px;
  }
  &.small > span {
    max-width: 530px;
  }
}

.ResponsiveLayout.full-height > span  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
