@import '../styles/constants.scss';

.ResponsiveLayout {
  text-align: center;
  &.horizontal-space {
    padding: 0 $horizontal-spacing;
  }
  > span {
    width: 100%;
    text-align: left;
  }
}

.ResponsiveLayout.min-width {
  &.default > span {
    min-width: 768px;
    display: inline-block;
  }
}

.ResponsiveLayout.max-width {
  &.small > span {
    max-width: 530px;
    display: inline-block;
  }
}
