.ChatContainer {
  @include paper();
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
}

  .ChatContainer-conversations {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 25%;
    overflow: auto;
  }

  .ChatContainer-messages {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 25%;
    overflow: auto;
  }
