@import "../../flexbox.scss";

.Messages {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  @include flexbox();
  @include flex-direction(column);
}

.Messages-listContainer {
  @include flex(1, 0, 450px);
  overflow: auto;
}

.Messages-replyFormContainer {
  border-top: 1px solid $si-light-gray2;
}
