@import "../../flexbox.scss";

.Messages {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  @include flexbox();
  @include flex-direction(column);
}

.Messages-listTopSeparator {
  @include flex(1, 0, auto);
}

.Messages-listContainer {
  @include flex(1, 1, 0);
  @include flexbox();
  @include flex-direction(column);
  overflow: auto;
}

.Messages-replyFormContainer {
  border-top: 1px solid $border-color-dark;
  background-color: $background-color;
}
