@import '../styles/constants';

.ProfileAvatarEditable {
  position: relative;
  display: inline-block;
  &:hover {
    .ProfileAvatarEditable-instructions {
      display: flex;
    }
  }
}

.ProfileAvatarEditable-instructions {
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  display: none;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  cursor: pointer;
  text-align: center;
  color: $white;
  border-radius: 100%;
  background-color: rgba(black, .2);
  font-size: .75rem;
  line-height: 100%;
}

.ProfileAvatarEditable-delete {
  margin: 2em;
  text-decoration: underline;
}
