@import '../styles/constants.scss';

$profile-cover-header-height: 128px;

.ProfileCover {
  position: relative;
}

.ProfileCover-image {
  border-radius: $border-radius;
  background: $white;
  box-shadow: $box-shadow-depth-0;
  position: relative;
  outline: 20000px solid rgba(black, 0);
  canvas {
    cursor: grab;
    display: block;
  }
  .ProfileCover.is-editing & {
    outline: 20000px solid rgba(black, .4);
    z-index: $z-index-profile-cover-editing;
    position: relative;
  }
}

.ProfileCover-edit {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 0.875em;
  
}

.ProfileCover-instructions {
  position: absolute;
  z-index: $z-index-profile-cover-editing;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: .5rem;
  background-color: rgba(black, .3);
  color: $white;
  font-size: 0.75rem;
  border-radius: $border-radius-small;
}

.ProfileCover-actions {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  padding: .5rem 1rem;
  background-color: $white;
  border-radius: $border-radius;
  z-index: $z-index-profile-cover-editing+1;
  > *:not(:first-child) {
    margin-left: 1rem;
  }
}

.ProfileCover-header {
  position: relative;
  z-index: $z-index-profile-cover;
  display: flex;
  align-items: flex-end;
  margin-top: -50px;
  .ProfileCover.is-editing & {
    z-index: $z-index-profile-cover-editing;
  }
  .ProfileCover-avatar {
    position: relative;
    margin-left: 3.875rem;
    margin-right: 1rem;
  }
  .ProfileCover-name {
    .ProfileCover.is-editing & {
      visibility: hidden;
    }
  }
  h1 {
    margin: 0;
    font-weight: lighter;
    overflow: hidden;
  }
  h3 {
    margin: 0;
    margin-top: 5px;
    font-size: 1rem;
    font-weight: normal;
  }
}

.ProfileCover-avatar {
  &.editable {
    cursor: pointer;
  }
}
