@import "../styles/constants/colors.scss";

.UserShoutsSelectDialog-item {
  position: relative;
  overflow: hidden;
  display: flex;
  padding: 5px 0;
  cursor: pointer;

  &:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }
  input {
    display: none;
  }
}
