@import "../styles/constants.scss";

.ScrollableNotifications {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $white;
  overflow: auto;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    > li {
      margin: 0 .35em;
      border-top: 1px solid $border-color;
      &:first-child {
        border-top-color: transparent;
      }
      &:last-child {
        border-bottom: 1px solid $border-color;
      }
      &:hover, &.is-unread {
        padding: 0 .35em;
        margin: 0;
        border-bottom: 1px solid $border-color;
        + li {
          border-top: 0;
        }
      }

    }
  }
}
