//
   Created by Philip on 12.01.2015.
doctype html
html
    head
        title= title

        link(rel='stylesheet', href='css/main.css', type='text/css' )
        link(rel='stylesheet', href='css/bootstrap.css', type='text/css' )
        link(rel='stylesheet', href='css/bootstrap-theme.css', type='text/css' )
        link(rel='stylesheet', href='css/customstyle.css', type='text/css' )
        link(rel='stylesheet', href='css/style.css', type='text/css' )


    body#main-mount!= reactOutput
