@import '../styles/constants.scss';
@import '../styles/mixins/ellipsis.scss';

.ConversationItem {
  position: relative;
  border-bottom: 1px solid $border-color-dark;
  cursor: pointer;
}

.ConversationItem.is-selected {
  background-color: $background-color-alt;
}
.ConversationItem.is-unread {
  background-color: $background-color;
  .ConversationItem-content {
    font-weight: bold;
  }
}
.ConversationItem.hover {
  color: $color;
}
.ConversationItem.hover:not(.is-selected) {
  background-color: $background-color-light;
}
.ConversationItem > a {
  padding: .75em .5em;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $color;
  &:hover {
    color: $color;
  }
}

.ConversationItem .Dropdown {
  position: absolute;
  top: 50%;
  margin-top: -6px;
  right: .5rem;
}

.ConversationItem-image {
}

.ConversationItem-content {
  min-width: 0;
  padding-left: .5rem;

  flex: 1;
  > div {
    @include ellipsis();
  }
}

.ConversationItem-tools {
  align-self: flex-start;
  text-align: right;
  font-size: .75em;
}

.ConversationItem-head {
  font-size: .875em;
  font-weight: bold;
}

.ConversationItem-date {
  color: $color-light;
  line-height: 1rem;
}
.ConversationItem-about {
  font-size: .75em;
  margin: .25em 0;
}

.ConversationItem-last {
  display: flex;
  margin-top: .25em;
  align-items: flex-start;
  color: $color-light;
  font-size: .75em;
  .Icon {
    margin-right: .25em;
  }
}

.ConversationItem-user-avatar {
  padding: .625em .25em;
  align-self: flex-start;
}

.ConversationItem-unread-count {
  margin-top: .25em;
  color: $si-green;
}
