@import "../styles/constants/colors.scss";
@import "../styles/_flexbox.scss";

.ConversationTitle {
  background-color: $background-color;
  border-bottom: 1px solid $border-color-dark;
  min-height: 5rem;
  padding: 0 10px;
  @include flexbox();
  @include flex-direction(row);
}

  .ConversationTitle-content {
    @include flex(1);
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);
  }

  .ConversationTitle-toolbar {
    @include flexbox();
    @include align-items(center);
  }

  .ConversationTitle-partecipants {
    font-weight: bold;
  }

  .ConversationTitle-aboutShout {
    a {
      font-size: 1.1em;
      color: $si-blue;
    }
  }
