@import "../styles/constants/colors.scss";
@import "../styles/mixins/ellipsis.scss";

.ConversationItem {
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  background-color: white;
  &.is-selected {
    background-color: $background-color-alt;
  }
  &.is-unread {
    background-color: $background-color;
    font-weight: bold;
  }
  &:hover:not(.is-selected) {
    background-color: $background-color-alt-light;
  }
}

.ConversationItem-usersImage {
  padding: 0.625rem 0.25rem;
}

.ConversationItem-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  flex-basis: 50%;
  padding: 0.625rem 0.25rem;
  > div {
    @include ellipsis();
  }
}


.ConversationItem-tools {
  padding: 0.625rem 0.25rem;
  align-self: flex-start;
  text-align: right;
  font-weight: normal;
}

.ConversationItem-created-at {
  color: $color-light;
  font-size: 0.75rem;
}

.ConversationItem-unread-count {
  color: $color-light;
  font-size: 0.625rem;
  margin-top: .25rem;
}

.ConversationItem-title {
  font-size: 1em;
  margin-bottom: .25rem;
}

.ConversationItem-aboutShout {
  color: $si-blue;
  font-size: 0.875rem;
}

.ConversationItem-partecipants {
  // font-weight: bold;
}

.ConversationItem-last-message {
  font-size: 0.75rem;
  color: $color;
  span {
    vertical-align: middle;
    display: inline-block;
  }
  .SVGIcon {
    margin-right: .25rem;
  }
}
