@import '../styles/constants';
@import '../styles/mixins/ellipsis';

.ConversationPopup {
}

.ConversationPopup-header {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  height: 2rem;
  color: $white;
  background-color: $background-color-popup-header;
  .ConversationPopup.has-focus &,
  .ConversationPopup:hover & {
    background-color: $background-color-popup-header-hover;
  }

  h3 {
    @include ellipsis();
    margin: 0 .5rem;
    font-size: .875rem;
    font-weight: bold;
    line-height: 2rem;

    flex: 1;
    a {
      color: $white;
      &:hover {
        text-decoration: underline;
        color: $white;;
      }
    }
  }

  .ConversationPopup-toolbar {
    z-index: 1;
    display: flex;
    align-items: center;
    padding-right: .25rem;
    > * {
      padding: 0 .25rem;
      &:hover .Icon {
        opacity: .75;
      }
      &.Icon:hover {
        opacity: .75;
      }
    }
  }
}

.ConversationPopup-conversation {
  position: absolute;
  top: 32px;
  right: 0;
  bottom: 0;
  left: 0;
}
