@import '../styles/constants.scss';
.ConversationsHost {
  position: fixed;
  z-index: $z-index-conversation-host;
  right: 0;
  bottom: 0;
  left: 0;
}

.ConversationsHost-wrapper {
  display: flex;
  flex-direction: row-reverse;
  width: $content-width;
  height: 0;
  margin: 0 auto;
  padding-right: 2rem;
}

.ConversationsHost-popup {
  position: relative;
  width: 275px;
  height: 350px;
  margin-left: .5rem;
  transform: translateY(-350px);
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  background-color: $background-color-alt-light;
  box-shadow: $box-shadow-depth-2;
}
