
@import '../styles/constants';

.ConversationReplyForm {
  background-color: $white;

  textarea {
    width: 100%;
    display: block;
    margin: 0;
    border: 0;
    padding: .5rem .5rem .5rem;
    border-radius: 0;
    line-height: 1.2em;
    overflow-x: hidden;
  }
}

.ConversationReplyForm-toolbar {
  padding: 0 .25rem .25rem;
}
