@import '../styles/constants/colors.scss';
@import '../styles/mixins/ellipsis.scss';

.ConversationItem {
  display: flex;
  padding: 0 .25rem;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px solid $border-color;
  background-color: white;
  font-size: .875rem;

  align-items: center;
  &.is-selected {
    background-color: $background-color-alt;
  }
  &.is-unread {
    background-color: $background-color;
    font-weight: bold;
  }
  &:hover:not(.is-selected):not(.is-unread) {
    // background-color: lighten($background-color-alt, 2);
  }
  &:hover.is-unread {
    // background-color: darken($background-color, 1);
  }
}

.ConversationItem-user-avatar {
  padding: .625rem .25rem;
}

.ConversationItem-body {
  display: flex;
  flex-direction: column;
  min-width: 0;
  padding: .625rem .25rem;

  flex: 1;
  flex-basis: 50%;
  > div {
    @include ellipsis();
  }
}


.ConversationItem-tools {
  padding: .625rem .25rem;
  text-align: right;
  font-weight: normal;

  align-self: flex-start;
}

.ConversationItem-created-at {
  color: $color-light;
  font-size: .75rem;
}

.ConversationItem-unread-count {
  margin-top: .25rem;
  color: $color-light;
  font-size: .625rem;
}

.ConversationItem-title {
  margin-bottom: .25rem;
  font-size: 1em;
}

.ConversationItem-about_shout {
  color: $si-blue;
  font-size: .875rem;
}

.ConversationItem-partecipants {
  // font-weight: bold;
}

.ConversationItem-last-message {
  color: $color;
  font-size: .75rem;
  span {
    display: inline-block;
    vertical-align: middle;
  }
  .Icon {
    margin-right: .25rem;
  }
}
