@import '../styles/constants.scss';

.Conversation {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  &.layout-hosted {
    font-size: .875em;
  }
}

.Conversation-head {
  background-color: $white;
  margin: 0;
  height: 3em;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $border-color;
  padding: 0 .75em;
  .Conversation.layout-hosted & {
    overflow: hidden;
  }
}

.Conversation-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  .ConversationMessages {
    flex: 1 1 0;
  }
}

.Conversation-footer {
  border-top: 1px solid $border-color-dark;
  background-color: $background-color;
}

.Conversation-error {
  padding: 10px;
  text-align: center;
  color: $input-error;
}

.Conversation-messagesList {
  display: flex;
  flex-direction: column;

  flex: 1;

  .Progress {
    flex: 1;
  }
}

.Conversation-listTopSeparator {
  flex: 1 0 auto;
}
