
@import "../styles/constants.scss";

.MessageItem {
  font-size: 0.875em;

  margin: .25em .5em 0;
  .MessageAttachment {
    margin-top: 5px;
    max-width: 300px;
  }

  .MessageItem-text {
    min-width: 120px;
    background-color: white;
    border: 1px solid $border-color;
  }

  &.is-owner {
    text-align: right;
    .MessageItem-text {
     background-color: $background-color-alt;
     border: 1px solid $border-color-alt;
   }
  }

  &.no-profile {
    margin: 1em 0;
    .MessageItem-text {
      p {
        font-style: italic;
        font-size: 0.875em;
      }
      background-color: transparent;
      border: 1px solid transparent;
   }
  }

  &.did-error .MessageItem-wrapper {
    opacity: 0.4;
  }

  &.sending .MessageItem-wrapper {
    opacity: 0.6;
  }

}

.MessageItem-wrapper {
  text-align: left;
  display: inline-block;
  min-width: 25%;
  max-width: 75%;
  .MessageItem.has-attachments & {
    width: 270px;
    max-width: 90%;
  }
}


.MessageItem-text {
  padding: 5px 10px;
  border-radius: $border-radius;
  p {
    font-size: 1em;
    margin: 0;
  }
  .MessageItem.no-profile & {
    padding: 0;
  }
}



.MessageItem-attachments {
  > .MessageItem-footer {
    margin: 5px 10px;
  }
  + .MessageItem-text {
    margin-top: 5px;
  }
  .ShoutPreview {
    border: 1px solid $border-color;
    box-shadow: none;
  }
  .ProfilePreview {
    background-color: white;
  }
}

.MessageItem-day {
  text-align: center;
  font-weight: bold;
  font-size: 0.875em;
  color: #999;
  margin: 1em;
}


.MessageItem-footer {
  height: 13px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.65em;
  color: #999;
}

.MessageItem-retry {
  font-size: 0.65em;
  margin-bottom: 1em;
  padding: 0.25em;
  color: $si-error-color;
}
