@import "../styles/constants/colors.scss";

.MessagesTypingUsers {
  box-sizing: border-box;
  min-height: 1.75em;
  font-size: 0.75em;
  color: $color-light;
  padding: 0.5em 0 0 0.5em;
  font-style: italic;
}
