.MessageAttachment {
  video {
    max-width: 200px;
    border-radius: .75em;
    .Conversation.layout-full & {
      max-width: 280px;
    }
  }

  &.type-location {
    width: 200px;
    .GoogleStaticMap {
      padding-bottom: 100%;
    }
  }
}
