@import "../styles/constants.scss";

.MessagesList {

  .MessageReadBy {
    text-align: right;
    margin-right: 1em;
    font-size: 0.625em;
    margin-top: -1em;
  }
}

.MessagesList.is-owner {
  flex-direction: row-reverse;
  .MessagesList-user {
    display: none;
  }
}

.MessagesList-day {
  text-transform: uppercase;
  text-align: center;
  color: $color-lighter;
  align-items: center;
  font-size: 0.75em;
}

  .MessagesList-messages {
    flex: 1;
  }
