
@import '../styles/constants.scss';

.MessageItem {
  position: relative;
  display: flex;
  align-items: flex-end;
  margin: .075em .5em 0;
  font-size: .875em;
  &.is-owner {
    justify-content: flex-end;
  }
  &.is-first {
    margin-top: .75em;
  }
  &.is-last {
    margin-bottom: .75em;
  }
}

.MessageItem-sender {
  width: 2.6em;
  text-align: center;
  .MessageItem-sender-wrapper {
    position: absolute;
    bottom: 0;
    .MessageItem.is-owner & {
      right: 0;
    }
    .MessageItem:not(.is-owner) & {
      left: 0;
    }
  }
  .ProfileAvatar {
    width: 2.35em;
    height: 2.35em;
    border-radius: $border-radius-small;
  }
}

.MessageItem-message {
  // border: 1px solid $grey-light-3;
  padding: .5em .75em;
  background-color: $white;

  .MessageItem.no-profile & {
    padding: .5em 0;
    border: 0;
    background-color: transparent;
    font-style: italic;
  }

  .MessageItem:not(.is-owner) & {
    border-top-right-radius: 1.1em;
    border-bottom-right-radius: 1.1em;
  }
  .MessageItem:not(.is-owner).is-first:not(.is-last) & {
    border-top-left-radius: 1.1em;
  }
  .MessageItem:not(.is-owner).is-last:not(.is-first) & {
    border-bottom-left-radius: 1.1em;
  }
  .MessageItem:not(.is-owner).is-first.is-last & {
    border-top-left-radius: 1.1em;
    border-bottom-left-radius: 1.1em;
  }
  .MessageItem:not(.is-owner):not(.is-first):not(.is-last) & {
    padding-right: 1.1em;
  }

  .MessageItem.is-owner & {
    border-top-left-radius: 1.1em;
    border-bottom-left-radius: 1.1em;
  }
  .MessageItem.is-owner.is-first:not(.is-last) & {
    border-top-right-radius: 1.1em;
  }
  .MessageItem.is-owner.is-last:not(.is-first) & {
    border-bottom-right-radius: 1.1em;
  }
  .MessageItem.is-owner.is-first.is-last & {
    border-top-right-radius: 1.1em;
    border-bottom-right-radius: 1.1em;
  }
  .MessageItem.is-owner:not(.is-first):not(.is-last) & {
    padding-left: 1.1em;
  }

  p {
    margin: 0;
    font-size: 1em;
  }
  .MessageItem.is-owner & {
    color: $white;
    border-color: $color-primary;
    background-color: $color-primary;
    a > .ListItem {
      color: $white;
    }
  }

  .MessageItem:not(.has-attachments) & {
    max-width: 200px;
    .Conversation.layout-full & {
      max-width: 400px;
    }
  }

  .MessageItem.has-attachments & {
    overflow: hidden;
    padding: 0 !important;

    .MessageAttachment.type-shout,
    .MessageAttachment.type-profile {
      margin: .5em .75em;
    }
  }
  .MessageItem.has-location-attachments &,
  .MessageItem.has-media-attachments & {
    border: none;
    background-color: transparent;
  }
}
