@import '../styles/constants';

.TagPreview {
  width: 250px;
  padding-bottom: .5rem;
  &.no-cover {
    padding-top: .5rem;
  }
}

.TagPreview-cover {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid $border-color;
  border-top-left-radius: $border-radius-small;
  border-top-right-radius: $border-radius-small;
  background-color: $background-color-light;
  background-repeat: no-repeat;
  background-size: cover;
}

.TagPreview-header {
  margin-top: -24px;
  text-align: center;
  .TagPreview.no-cover & {
    margin-top: 0;
  }
  h2 {
    margin: 1rem .25rem;
    font-size: 1.125rem;
    font-weight: lighter;
  }
}

.TagPreview-icon {
  position: relative;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  margin: 0 auto;
  padding: 6px;
  text-align: center;
  text-align: center;
  border: 1px solid $color-primary;
  border-radius: 54px;
  background-color: $white;
  box-shadow: $box-shadow-depth-0;
  img {
    display: inline-block;
    width: 28px;

    align-self: center;
  }
}

.TagPreview-body {
  display: flex;
  margin-top: .5rem;
  padding: 0rem .5rem;
  .LocationListItem {
    flex: 1;
  }
}

.TagPreview-actions {
  margin: .5rem .25rem 0 .25rem;
  padding: .5rem .25rem 0 .25rem;
  border-top: 1px solid $border-color;
}
