@import '../styles/constants.scss';
@import '../styles/mixins/mq.scss';

.Application {
  position: relative;
  min-height: 100%;
  &.pattern-background {
    background-image: url('../../assets/images/pattern@2x.png');
    background-repeat: 20px/2px repeat;
    background-attachment: fixed;
    background-size: (366px * .75) (600px * .75);
  }
  &.stickyHeader {
    display: flex;
    flex-direction: column;
  }
}

@include smartphone() {
  .Application.pattern-background {
    background: none;
  }
}

.Application-header {
  z-index: $z-index-header;
  width: 100%;
  background-color: $white;
  box-shadow: $box-shadow-depth-0;
  -webkit-font-smoothing: subpixel-antialiased;
  .Header {
    margin: 0 auto;
  }
}

@include desktop() {
  .Application-header {
    .Application.stickyHeader & {
      position: fixed;
      top: 0;
    }
    .Header {
      height: $header-height;
    }
  }
}

.Application-content {
  z-index: 0;
}

@include desktop() {
  .Application-content {
    .Application.stickyHeader & {
      min-height: calc(100vh - #{$header-height});
      padding-top: $header-height;
      flex: 1;
    }
  }
}

.Application-footer {
  margin-top: 2rem;
  padding-bottom: 1rem;
  background-color: $background-color-darker;
}
