@import "../styles/constants.scss";

.App {
  position: relative;
}

.App-header {
  z-index: 2;
  width: 100%;
  background-color: white;
  box-shadow: $box-shadow-depth-0;
  -webkit-font-smoothing: subpixel-antialiased;

  .App.stickyHeader & {
    position: fixed;
  }
  .Header {
    height: $header-height;
    width: $content-width;
    margin: 0 auto;
  }

}

.App-content {
  z-index: 0;
  margin: 0 auto;

  .App.stickyHeader & {
    padding-top: ($header-height + 10px);
  }

}
