@import "../styles/constants.scss";

.App {
  min-height: 100%;
  position: relative;
  &.pattern-background {
    background-attachment: fixed;
    background-repeat: 20px/2px repeat;
    background-size: (366px * 0.75) (600px * 0.75);
    background-image: url('../../assets/images/pattern@2x.png');
  }
}

.App-header {
  z-index: $z-index-header;
  width: 100%;
  background-color: white;
  box-shadow: $box-shadow-depth-0;
  -webkit-font-smoothing: subpixel-antialiased;

  .App.stickyHeader & {
    position: fixed;
    top: 0;
  }
  .Header {
    height: $header-height;
    width: $content-width;
    margin: 0 auto;
  }

}

.App-content {
  z-index: 0;
  margin: 0 auto;
  min-height: 100%;
  .App.stickyHeader & {
    padding-top: $header-height;
  }
}
