
@import "../styles/constants.scss";

.Chat {
  position: absolute;
  top: .75rem;
  right: .5rem;
  bottom: .75rem;
  left: 0px;
  overflow: hidden;

  background-color: white;
  border-radius: $border-radius;
  box-shadow: $box-shadow-depth-0;

}

  .Chat-conversations {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 30%;
    overflow: auto;
    display: flex;
    flex-direction: column;
  }

  .Chat-conversations-title {
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid $border-color;
    h1 {
      border-right: 1px solid $border-color;
      padding: .5rem .75rem;
      margin: 0;
      font-weight: normal;
      font-size: 1rem;
      color: $color;
      a {
        color: $color;
        &:hover {
          color: lighten($color, 20);
        }
      }
    }
  }

  .Chat-conversations-list {
    flex: 1;
    position: relative;
    border-right: 1px solid $border-color;
  }

  .Chat-conversation {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 30%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    h1 {
      background-color: white;
    }
  }

  .Chat-conversation-body {
    flex: 1;
    position: relative;
    background-color: $background-color-light;
  }

  .Chat-placeholder {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .Chat-conversationsList {
    list-style: none;
    margin: 0;
    padding: 0;
  }
