
@import "../styles/constants.scss";

.Chat {
  position: absolute;
  top: .75rem;
  right: .5rem;
  bottom: .5rem;
  left: 0px;
  overflow: hidden;

  background-color: $background-color-alt-light;
  border-radius: $border-radius;
  box-shadow: $box-shadow-depth-0;

  h1 {
    padding: .75rem;
    margin: 0;
    font-weight: normal;
    font-size: 1rem;
    border-bottom: 1px solid $border-color;
    color: $color;
    min-height: 2.5rem;
  }
}

  .Chat-conversations {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 30%;
    background-color: darken(white, 2.5);
    border-right: 1px solid $border-color-dark;
    overflow: auto;
    display: flex;
    flex-direction: column;
  }

  .Chat-conversations-list {
    flex: 1;
    position: relative;
  }

  .Chat-conversation {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 30%;
    background-color: $background-color-alt-light;
    overflow: auto;
    display: flex;
    flex-direction: column;
    h1 {
      background-color: white;
    }
  }

  .Chat-conversation-body {
    flex: 1;
    position: relative;
  }

  .Chat-placeholder {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .Chat-conversationsList {
    list-style: none;
    margin: 0;
    padding: 0;
  }
