.Dashboard {

}

.Dashboard-start-column {
  h1 {
    margin: 0 .5rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: lighter;
  }

  .CardWithList {
    margin-top: 1.5rem;
  }
}

.Dashboard-end-column {
  .CardWithList {
    margin-bottom: 0.75rem;
  }
}
