@import '../styles/constants.scss';

.Dashboard {

  .CardList + .Card {
    margin-top: $vertical-spacing;
  }
}

.Dashboard-start-column {
  h1 {
    margin: 0 .5em;
    margin-bottom: $vertical-spacing;
    font-size: 1.25em;
    font-weight: normal;
  }
}
