.Dashboard {

}

.Dashboard-start-column {
  h1 {
    margin: 0 .5rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: normal;
  }

  .CardWithList {
    margin-top: 1.5rem;
  }
}

.Dashboard-shortcuts {
  .ListItem {
    margin: .5em;
    &:hover {
      opacity: .75;
    }
  }
}
