@import '../styles/constants.scss';

.Homepage {
    width: $content-width;
    margin: 0 auto;
}

.Homepage-hero {
  position: relative;
  width: $content-width;
  height: 572px;
  margin: 1rem 0;
  border-radius: 1rem;
  background-image: url('../../assets/images/home-hero-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.Homepage-hero-wrapper {
  display: flex;
  align-items: center;
  padding: 7rem;
  color: white;
}

.Homepage-hero-bg {
  border-radius: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(black, .4);
}

.Homepage-hero-copy {
  position: absolute;
  top: 2rem;
  right: 2rem;
  left: 2rem;
  width: 450px;
  border-radius: 20px;

  h1 {
    margin: 1rem 0 2rem 0;
    color: white;
    font-family: $font-family-alternate;
    font-weight: normal;
  }
  h2 {
    width: 400px;
    margin: 2rem 0;
    color: white;
    font-weight: lighter;
  }

  .Button {
    margin-top: 2rem;
  }
  // background-color: rgba(black, .4);
  // padding: 1rem 0rem;
}

.Homepage-hero-apps {
  position: absolute;
  top: 2rem;
  right: 2rem;
  a {
    display: inline-block;
    &:not(:first-child) {
      margin-left: 1rem;
    }
  }

  h2 {
    width: 350px;
    margin-top: 2rem;
    color: white;
    font-weight: lighter;
  }

  .AppBadge {
    margin: 0 .25rem;
  }
}

.Homepage-hero-buttons {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  left: 2rem;
  text-align: center;
}


.Homepage-hero-download-copy {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  // background-color: rgba(black, .4);
  padding: 1rem 0rem;
  padding-left: 1rem;
  border-radius: 5px;

  flex: 1;
  h3 {
    margin: 0;
    padding-left: 1rem;
    color: white;
    font-weight: lighter;
  }
}
.Homepage-hero-buttons {
  position: absolute;
}

.Homepage-how-it-works {

  border-radius: 20px;
  overflow: hidden;
  padding-bottom: 2rem;
  text-align: center;
  background-color: white;
  h2 {
    color: $color-light;
    font-family: $font-family-alternate;
  }
}

.Homepage-explore {
  padding-top: 2rem;
  padding-bottom: 2rem;
  h2 {
    text-align: center;
    color: $color-light;
    font-family: $font-family-alternate;
  }
}

.Homepage-cards {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-wrap: wrap;
  .Card {
    margin: 1rem;
  }
}
