@import '../styles/constants.scss';

.Profile {
  margin-top: .75rem;
}

.Profile-body {
  margin-top: 1rem;
  display: flex;
  .Profile-body-start-column {
    overflow: hidden;
    width: $page-width-column;
    margin: $vertical-spacing $horizontal-spacing;
  }
  .Profile-shouts {
    margin-top: .75rem;

    flex: 1;
    h2 {
      margin: 0;
      margin-bottom: .5rem;
      text-align: center;
      font-size: 1rem;
      font-weight: normal;
    }
  }
}

.Profile-name {
  flex: 1;
}

.Profile-actions {
  align-self: center;
}

