@import '../styles/constants.scss';
@import '../styles/mixins/card.scss';
@import '../styles/mixins/ellipsis.scss';

.Profile {
  margin-top: .75rem;
}

.Profile-body {
  margin-top: 1rem;
  display: flex;
  .Profile-body-start-column {
    overflow: hidden;
    width: $page-width-column;
    margin: $page-column-margin;
  }
  .Profile-shouts {
    margin-top: .75rem;

    flex: 1;
    h2 {
      margin: 0;
      margin-bottom: .5rem;
      text-align: center;
      font-size: 1rem;
      font-weight: normal;
    }
  }
}

.Profile-name {
  flex: 1;
}

.Profile-actions {
  align-self: center;
}
//
// .Profile-actions {
//   margin-left: .5rem;
//   border-left: 1px solid $border-color-dark;
//   padding-left: .5rem;
//   align-items: center;
//   display: flex;
//   justify-content: flex-end;
// }
//
// .Profile-action {
//   font-size: 0.875rem;
//   margin-left: .5rem;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// .Profile-tool-label {
//   font-size: 0.875rem;
// }
