@import '../styles/constants.scss';
@import '../styles/mixins/card.scss';
@import '../styles/mixins/ellipsis.scss';

.Profile {
  margin-top: .75rem;
}

.Profile-cover {
  height: 250px;
  border-radius: $border-radius;
  background: white;
  box-shadow: $box-shadow-depth-0;
}

.Profile-header {
  display: flex;
  align-items: flex-end;
  transform: translateY(-44px);;

  .ProfileAvatar {
    margin-left: 3.875rem;
    border: 2px solid white;
    box-shadow: $box-shadow-depth-1;
  }
  h1 {
    margin: 0rem 0 0rem 1rem;
    font-weight: lighter;
    height: 1.2em;
    overflow: hidden;
  }
  h3 {
    margin: .5rem 0 .5rem 1rem;
    font-size: 1rem;
    font-weight: normal;
  }
}

.Profile-tools {
  display: flex;
}

.Profile-body {
  display: flex;
  margin-top: -32px;
  .Profile-body-start-column {
    overflow: hidden;
    width: $page-width-column;
    margin: $page-column-margin;
  }
  .Profile-shouts {
    margin-top: .75rem;

    flex: 1;
    h2 {
      margin: 0;
      margin-bottom: .5rem;
      text-align: center;
      font-size: 1rem;
      font-weight: normal;
    }
  }
}

.Profile-name {
  flex: 1;
}

.Profile-actions {
  align-self: center;
}
//
// .Profile-actions {
//   margin-left: .5rem;
//   border-left: 1px solid $border-color-dark;
//   padding-left: .5rem;
//   align-items: center;
//   display: flex;
//   justify-content: flex-end;
// }
//
// .Profile-action {
//   font-size: 0.875rem;
//   margin-left: .5rem;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// .Profile-tool-label {
//   font-size: 0.875rem;
// }
