@import '../styles/constants.scss';
@import '../styles/mixins/mq.scss';
.Search {
  .Shouts-container {
    position: relative;
  }
  .ShoutsListToolbar {
    margin: 0 $horizontal-spacing/2;
    @include desktop() {
      margin: 0;
    }
  }
  .Shouts-loadingBackdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba($background-color, .8);
  }
}
