@import '../styles/constants.scss';
@import '../styles/mixins/links.scss';

.Settings-body {
  padding: $vertical-spacing $horizontal-spacing;
  max-width: 600px;
  & + .Settings-body {
    margin-top: $vertical-spacing;
  }
}

.Settings-profile-avatar {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}
.Settings-profile-fields {
  padding: 0 1rem;
  flex: 1;
}
