@import "../styles/constants.scss";

.ShoutPage {

  h1 {
    margin: 0;
    margin-bottom: 1rem;
    font-weight: lighter;
  }

  .ShoutPrice {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .PageBody {
    display: flex;
    flex-direction: column;
    > .Shout {
      flex: 1;
    }
  }

}

.Shout {
  position: relative;
  padding: $vertical-spacing $horizontal-spacing;
  border-radius: $border-radius;
  background-color: $white;
  box-shadow: $box-shadow-depth-0;
}

.Shout-title {
  padding: .5rem 0;
}

.Shout-header {
  display: flex;
  .ListItem {
    margin-right: .5rem;
  }
}

.Shout-gallery {
  width: 100%;
  margin: .5rem auto;
}

.Shout-body {
  display: flex;

  .Shout-text {
    flex: 1;
  }
  .Shout-card {
    width: 240px;
  }
}

.Shout-card {
  padding-top: 1rem;
  padding-left: 1rem;
  border-left: 1px solid $border-color;
  .ListItem {
    margin-bottom: .25rem;
  }
  .ShoutActions {
    padding-top: 1.25rem;
  }
}

.ShoutActions {
  padding-top: .5rem;
  margin-bottom: $vertical-spacing;
  text-align: center;
  > * {
    display: block;
    margin-bottom: $vertical-spacing;
  }
  .Button + .Button {
    margin-top: $vertical-spacing /2;
  }
  .htmlAncillary {
    text-align: left;
  }
}

.Shouts-related {
  margin: $vertical-spacing auto;
  padding: 0 $horizontal-spacing;
  h2 {
    text-align: center;
  }
}