@import "../pages/_mixins";
@import "../constants/colors";
@import "../constants/defaults";

.ContactOwnerCard {
  @include paper();
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 15px;
  overflow: hidden;
  float: left;
  transition: all .2s;
}

.ContactOwnerCard-header {
  height: 32px;
  border-bottom: 1px solid lighten($si-light-gray2,5%);
}

.ContactOwnerCard-headerText {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 8px 12px;
  color: $si-light-gray2;
}

.ContactOwnerCard-mobileButton {
  display: block;
  margin: 15px auto;
}

.ContactOwnerCard-mobileNumber {
  @extend .ContactOwnerCard-mobileButton;
  text-align: center;
  color: $si-green;
  font-size: $default-font-size;
}
