.CountryShelfButton {
  text-align:center;
  padding-top: 12px;
  .CountryFlag {
    margin: 0 auto;
    height: auto;
    display: block;
  }
  .text-holder {
    height: 25px;
    overflow: hidden;
    text-align: center;
    font-size: 1.3rem;
  }
}
