@import "../constants/colors.scss";

.ListOverlay {
  display: flex;
  flex-direction: column;
}

.ListOverlay-header {
  padding: 10px;
  font-size: 14px;
  overflow: auto;
  border-bottom: 1px solid $border-color-dark;
}

.ListOverlay-body {
  position: relative;
  flex: 1;
  min-height: 200px;
  max-height: 500px;
  overflow: auto;
}

.ListOverlay-empty > p {
  padding: 20px 10px;
  color: $color-light;
  text-align: center;
  font-weight: bold;
}

.ListOverlay-footer {
  text-align: center;
  a {
    background-color: $si-green;
    font-size: 14px;
    display: block;
    padding: 5px 0;
    color: white;
    &:hover {
      color: white;
    }
  }
}
