@import "../constants/colors";

.LocationCard-addr {
  display: block;
  font-size: 1.4rem;
  color: $si-light-gray;
  padding: 10px;
}

.LocationCard-city {
  margin-left: 10px;
  color: $si-light-gray;
}
