@import "../constants/colors.scss";

$border-radius: 5px;

.ShoutItem {
  width: 240px;
  background-color: white;
  position: relative;
  &.outline {
    border-radius: $border-radius;
    border: 1px solid $border-color;
  }
  &.shadow {
    border-radius: $border-radius;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  &.horizontal {
    display: flex;
    align-items: flex-start;
    width: 100%;
  }
}

.ShoutItem-thumbwrapper {
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  position: relative;
  background-color: $background-color;
  background-image: url("../../../assets/icons/camera-fill.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 64px;

  .ShoutItem:not(.horizontal) & {
    width: 100%;
    padding-bottom: 100%;
  }

  .ShoutItem.horizontal & {
    flex: 0 0 75px;
    height: 75px;
    border-radius: $border-radius;
  }

  .ShoutItem.no-thumbnail & {
    background-image: url("../../../assets/icons/no-camera-fill.svg");
  }

}

.ShoutItem-thumb {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  .ShoutItem.horizontal & {
    border-radius: $border-radius;
  }
}

.ShoutItem-checked {
  background-color: rgba(black, 0.3);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  display: flex;
  align-items: center;
  justify-content: center;
  .ShoutItem.horizontal & {
    border-radius: $border-radius;
  }
}

.ShoutItem-title {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  .ShoutItem.vertical & {
    margin-top: 5px;
  }
  font-weight: 300;
  font-size: 1em;
  width: 100%;
}

.ShoutItem-detail {
  padding: 0px 10px 5px 10px;
  display: flex;
  .ShoutItem.horizontal & {
    width: 100%;
  }
  .ShoutItem-name {
    flex: 1;
  }
}

  .ShoutItem-name {
    color: $color-light;
    font-size: 0.75em;
    display: inline-block;
    margin-right: 5px;
  }

  .ShoutItem-price {
    font-size: 0.75em;
    display: inline-block;
    color: $si-green;
  }
