.shout-form {
  position: relative;
  background-color: $si-white;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 20px;
  height: auto;
  margin-bottom: -5px;
  float: left;
  &.collapsed {
    height: 80px;
    .form-group {
        width: auto;
        .shout-form-title {
          width: 610px;
        }
    }
  }
  .form-group {
    float: left;
    width: 100%;
    .shout-form-title {
      width: 100%;
    }
    .shout-form-price {
      width: 100px;
      float: right;
    }
  }
  .shout-form-title-icon {
    position: relative;
    margin-left: -40px;
    margin-top: 10px;
    float: left;
  }
  .UserAvatar {
    float: left;
    margin-right:10px
  }
  .shout-form-dropdown {
    color: $si-light-gray;
    width: 100%;
    height: 35px;
    transition: all 0.3;
    &:focus, &:active {
      background: $si-white;
      button {
        border:0!important;
      }
    }
    &:hover {
      background: $si-white;
      color: $si-gray;
    }
    button {
      padding-right: 25px;
    }
    &.shout-form-type {
      width: 105px;
    }
    .caret {
      position: absolute;
      top: 47%;
      right: 8px;
    }
    .dropdown-menu {
      max-height: 200px;
      overflow-y: scroll;
    }
  }
}
.new-shout-popup {
  border-radius: 5px!important;
  .shout-form {
    box-shadow: none;
  }
}
