@import "../constants/colors.scss";
@import "../constants/defaults";

.ShoutPreview2 {
  min-height: 150px;
  background-color: $si-white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.ShoutPreview2-caption {
  .ShoutPreview2-title {
    margin: 15px;
    color: $si-blue;
    display: inline-block;
    &:hover {
      color: lighten($si-blue, 10%);
    }
  }
  .ShoutPreview2-cat {
    color: lighten($si-blue, 10%);
    &:hover {
      color: lighten($si-blue, 15%);
    }
  }
  .ShoutPreview2-price {
    margin: 10px 20px 0 0;
    color: darken($si-green, 10%);
    text-align: right;
  }
  .bold {
    font-size: $default-font-size;
    font-weight: 700;
  }
}

.ShoutPreview2-text {
  padding: 10px 20px;
  overflow: hidden;
  height: 210px;
}

.ShoutPreview2-footnote {
  text-align: center;
}

.ShoutPreview2-image {
  float: left;
  width: 100%;
  height: 300px;
  background-color: $si-light-gray;
  background-size: cover;
  background-position: center;
  margin: 10px;
  transition: 0.2s all;
  &.default {
    background-size: 120%;
  }
}

.ShoutPreview2-heading {
  height: 42px;
  border-bottom: 1px solid lighten($si-light-gray2, 15%);
  .ShoutPreview2-user {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 10px 0;
    margin-left: 5px;
    color: $si-light-gray;
    float: left;
  }
  .ShoutPreview2-date {
    font-size: 1.3rem;
    color: $si-light-gray;
    float: right;
    margin: 10px 20px;
  }
  .UserAvatar {
    float: left;
    margin: 2.5px 0 2.5px 15px;
  }
}
