@import "../constants/colors.scss";

.SideFooter {
  font-size: 1.3rem;
  color: $si-light-gray;
}

.SideFooter-copyright {
  font-size: 1.3rem;
}

.SideFooter-link {
  font-size: 1.3rem;
  color: $si-light-gray;
  font-weight: 300;
  margin: 0 15px 0 0;
  text-align: center;
  &:hover {
    color: darken($si-light-gray, 5%);
  }
}

.SideFooterButtons {
  margin-top: 15px;
}

.SideFooterButtons-button {
  width: 100px;
  &.right-spacing {
    margin-right: 15px;
  }
}
