version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8.4

    working_directory: ~/repo

    steps:
      - checkout

      - run:
          name: Set BUILD_TAG to $CIRCLE_TAG or $CIRCLE_BRANCH
          command: |
            ./.circleci/set-build-tag.sh

      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}

      - run:
          name: Install dependencies
          command: |
            npm install
            sudo npm install --global codeclimate-test-reporter

      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - ./node_modules

      - run:
          name: Run tests
          command: |
            npm run test:cover
            codeclimate-test-reporter < ./coverage/lcov.info

      - store_artifacts:
          path: coverage
          prefix: coverage

      - store_artifacts:
          path: test-results.xml
          prefix: tests

      - store_test_results:
          path: test-results.xml
