version: 2
jobs:
  build:
    docker:
      - image: shoutit/node:8.4.0-circleci

    working_directory: ~/repo

    steps:
      - checkout

      - run:
          name: Set BUILD_TAG to $CIRCLE_TAG or $CIRCLE_BRANCH
          command: |
            ./.circleci/set-build-tag.sh

      - setup_remote_docker:
          reusable: true
          exclusive: true

      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}

      - run:
          name: Install dependencies
          command: |
            npm install
            sudo npm install --global codeclimate-test-reporter

      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - ./node_modules

      - run:
          name: Run tests
          command: |
            mkdir -p /tmp/test-reports/junit
            npm run test:cover
            codeclimate-test-reporter < ./coverage/lcov.info
          environment:
            MOCHA_FILE: /tmp/test-reports/junit/test-results.xml

      - store_artifacts:
          path: coverage
          destination: coverage

      - store_artifacts:
          path: /tmp/test-reports/junit
          destination: tests

      - store_test_results:
          path: /tmp/test-reports/junit

      # Todo: Upgrade Webpack and its related packages
      # We are setting $BUILD_TAG and $TAGGED_PUBLIC_URL for webpack to construct its output.publicPath
      # Even when setting __webpack_public_path__ on the entry to a dynamic value, it seems that things like url(...) in
      # SASS files do not use the dynamically set publicPath
      - deploy:
          name: Build app
          command: |
            BULD_TAG=$BUILD_TAG TAGGED_PUBLIC_URL=$TAGGED_PUBLIC_URL npm run build
          #  npm run build
            echo $BUILD_TAG > built/CURRENT_TAG

      - deploy:
          name: Upload static files
          command: |
            aws s3 cp --recursive built/public s3://shoutit-web-static/$BUILD_TAG

      - deploy:
          name: Build docker image
          command: |
            docker build -t shoutit/shoutit-web:$BUILD_TAG .

      - deploy:
          name: Push docker image
          command: |
            docker login -u $DOCKER_USER -p $DOCKER_PASS
            docker push shoutit/shoutit-web:$BUILD_TAG
