version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8.4

    working_directory: ~/repo

    steps:
      - checkout

      - run:
          name: Set BUILD_TAG to $CIRCLE_TAG or $CIRCLE_BRANCH
          command: |
            ./.circleci/set-build-tag.sh

      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}

      - run:
          name: Install dependencies
          command: |
            npm install
            sudo npm install --global codeclimate-test-reporter

      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - ./node_modules

      - run:
          name: Run tests
          command: |
            mkdir -p /tmp/test-reports/junit
            npm run test:cover
            codeclimate-test-reporter < ./coverage/lcov.info
          environment:
            MOCHA_FILE: /tmp/test-reports/junit/test-results.xml
      - store_artifacts:
          path: coverage
          destination: coverage

      - store_artifacts:
          path: test-results.xml
          destination: tests

      - store_test_results:
          path: /tmp/test-reports/junit
