body {
  overflow: auto!important;
  background: $si-bg;
  font-size: $default-font-size;
}
a {
  font-size: $default-font-size;
  color: $si-gray;
  &:hover, &:active {
    color: darken($si-green,10%);
    text-decoration: none;
  }
}
a.si-more-link {
  font-size: 1.5rem;
  color: $si-light-gray;
  &:hover {
    color: darken($si-light-gray, 10%);
  }
}
h1 {
  font-size: 2.0rem;
  font-weight: bold;
  color: $si-gray;
}
h2 {
  font-size: 1.8rem;
  font-weight: bold;
  color: lighten($si-gray, 10%);
  margin: 10px 0;
  &.si-name {
    color: $si-light-gray;
    text-align: center;
  }
}
h3 {
  font-size: $default-font-size;
  font-weight: 500;
  color: lighten($si-gray, 10%);
  margin: 0;
  &.si-center-header {
    font-size: 2.5rem;
    margin: 20px;
    text-align: center;
  }
  &.si-subtitle {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 8px 12px;
    color: $si-light-gray2;
  }
}
h4 {
  font-size: 1.2rem;
  font-weight: 700;
  color: $si-gray;
  margin: 5px;
}
p {
  font-size: $default-font-size;
}
p.small {
  font-size: $default-font-size-small;
  color: lighten($si-gray, 10%);
  margin-bottom: 0;
}
p.large {
  font-size: $default-font-size-large;
}

input[type=text], [type=email], input[type=password], input[type=number] {
  height: 35px;
  border-radius: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  &:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid $si-green;
    &.form-control {
      padding: 4px 11px;
    }
  }
  &.input-alert {
    border: 2px solid $si-error-color;
    &.form-control {
      padding: 4px 11px;
    }
  }
}

button {
  &:focus {
    box-shadow: none!important;
  }
}
.green-btn {
  @include green-button(60px, 25px, 1.4rem);
}
.gray-btn {
  @include colored-button(60px, 25px, 1.4rem, $si-gray);
}
.form-control {
  height: 35px;
}

.subtitle {
  font-size: 1.2rem;
  color: lighten($si-gray, 20%);
}

.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.hide {
  display: none!important;
}

.si-scrollbar {
  & > div:nth-child(2) {
    width: 8px!important;
    border-radius: 5px!important;
    & > div {
      background-color: $si-green!important;
    }

  }

}
/* Buttons */
.shout-btn {
  @extend .icon-create-shout!optional;
  opacity: 1;
  color: $si-white;
  padding-left: 40px;
  &:hover,&:visited {
    color: $si-white;
    border:0!important;
    outline:0!important;
  }
  &:active,&:focus {
    @extend .icon-create-shout !optional;
    border:0!important;
    color: $si-white;
  }
}

.new-shout-button {
  color: $si-white;
  font-size: 1.4rem;
  padding-left: 40px;
  display: inline-block;
  padding-top: 7px;
  margin-top: -15px;
  opacity: 0.9;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}

.switch-bar {
  .grid-btn {
    cursor: pointer;
    margin: 20px 5px 10px;
  }
  .list-btn {
    cursor: pointer;
    margin: 20px 5px 10px;
  }
}

/* Item Box */
.si-item-box {
  width: 220px;
  height: 240px;
  background-color: $si-white;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin: 10px 0;
  .img {
    width: 220px;
    height: 180px;
    background-size: cover;
    overflow: hidden;
  }
  h3, .subtitle {
    font-size: 1.65rem;
    transition: 0.2s all;
    margin: 10px 20px;
    float: left;
  }
}
/* Search */
.search-bar {
  position: relative;
  width: 100%;
  height: 36px;
  .form-group {
    width: 100%;
    margin-bottom: 0;
    display:inline-block;
    .input-group {
      .selectpicker {
        max-width: 150px;
        overflow: hidden;
        button {
          background: $si-green;
          border: none;
          box-shadow: none;
          margin-right: -1px;
          color: $si-white;
          font-size: 1.6rem;
          font-weight: 400;
          border-radius: 4px 0 0 4px;
        }
        .icons-loc {
          @extend .icon-location_bar !optional;
        }
      }
    }
  }
  .search-button {
    @extend .icon-search !optional;
    @extend .icon;
    position: absolute;
    float: right;
    z-index: 2;
    padding: 0;
    border: none;
    right: 15px;
    bottom: 20%;
  }

  #locationSearch {
    border: 1px solid #e1e1e1;
    margin-bottom: 10px;
  }

  .list-search {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    margin-top: -5px;
    padding: 0;
    overflow: auto;
    background: $si-white;
    border-radius: 0 5px 5px 0;
    font-size: $default-font-size;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    line-height:1.1rem;
    overflow: auto;
    input {
      height: 35px;
      margin-left:10px;
    }
    .list-search-title {
      color: lighten($si-light-gray, 10%);
      background: $si-bg;
      display: block;
      padding: 10px;
      margin-top: 14px;
      margin-bottom: 7px;
    }
    a {
      color: $si-light-gray;
      font-size: $default-font-size;
      line-height: 1.8rem;
      .list-search-item {
        display: block;
        padding: 0 7px;
        background: $si-white;
        transition: background .4s ease-out;
        &:hover {
          background: lighten($si-green, 20%);
        }
        .img-search-holder {
          height: 40px;
          width: 40px;
          overflow: hidden;
          display: inline-block;
          margin-right: 15px;
        }
        .text-search-holder {
          overflow: hidden;
          white-space: nowrap;
          width: 85%;
          font-size: 15px;
          vertical-align: 10px;
          display: inline-block;
        }
        .img-search-thumb {
          height:100%;
          border-radius:2px;
          opacity: 0.7!important;
          &:hover {
            opacity: 1!important;
          }
        }
      }
    }
    .list-search-loc {
      color: $si-light-gray;
      font-size: 1.5rem;
      line-height: 2.5rem;
      cursor: pointer;
      display: block;
      padding: 0 7px;
      background: $si-white;
      transition: background .4s ease-out;
      &:hover {
        background: lighten($si-green, 20%);
      }
    }
  }
}

.si-dialog {
  -webkit-font-smoothing: subpixel-antialiased;
  width: 400px!important;
  & > div {
    border-radius: 5px!important;
    & > div {
      padding: 24px 0 0!important;
    }
    span {
      text-align: center;
    }
    .si-login, .si-signup {
      width: 316px;
      margin: 0 auto;
      .separator {
        @include size(100%, 1px);
        margin: 10px auto;
        background: $si-light-gray2;
      }
      .separator-or {
        margin: 25px auto;
        &:after {
          content: 'or';
          position: relative;
          margin-left: 45%;
          top: -10px;
          z-index: 1;
          background: $si-white;
          color: darken($si-light-gray2, 10%);
          font-size: 16px;
          padding: 5px 10px;
        }
      }
      .separator-with {
        margin: 25px auto;
        &:after {
          content: 'with';
          position: relative;
          margin-left: 43%;
          top: -10px;
          z-index: 1;
          background: $si-white;
          color: darken($si-light-gray2, 10%);
          font-size: 16px;
          padding: 5px 10px;
        }
      }
      .social-btn{
        border-radius: 5px;
        margin: 6px auto;
        @include button(100%, 40px, 1.4rem);
        &.facebook {
          color: $si-white;
          background-color: #3a5898;
          &:hover {
            background-color: lighten(#3a5898,7%);
          }
        }
        &.google {
          color: $si-white;
          background-color: #d8584f;
          &:hover {
            background-color: lighten(#d8584f,7%);
          }
        }
      }
      .btn-signin, .btn-signup {
        @include green-button(100%, 40px, 1.4rem);
        margin:0;

        &.btn-signin-disabled, &.btn-signup-disabled {
          background: lighten($si-light-gray,20%);
          font-size: 1.3rem;
          pointer-events: none;
          cursor: default;
        }
      }
      .checkbox {
        text-align: center;
        input[type=checkbox] ~ span{
          color: lighten($si-gray,20%);
          letter-spacing: 0.02rem;
          font-size: 1.4rem;
        }
      }
      .signup-note {
        text-align: center;
        color: lighten($si-gray, 20);
        font-size: 12px;
        padding-top: 15px;
      }
    }
    .forgot-btn {
        display:block;
        width: 100%;
        padding: 10px 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        margin-top: 10px;
        text-align: center;
        background: lighten($si-light-gray2, 15%);
        text-decoration: underline;
        color: $si-light-gray;
        cursor: pointer;
      }
    input.input-name {
      width: 47%!important;
      display: inline-block;
      float: left;
      margin-bottom:10px;
      &.input-last-name {
        float:right;
      }
    }
  }
}
/* extra in shout detail page */
.shout-extra {
  .extra-title {
    color:$si-light-gray2;
    font-weight: 700;
    text-transform: uppercase;
    margin: 40px 0 10px;
    float: left;
  }
}

.si-listening-button {
  text-align:center;
  div {
    margin: 0 auto;
  }
}
.si-message-button {
  text-align:center;
  div {
    margin: 0 auto;
  }
}

.tooltip {
  opacity: 1;
}
