.profile-holder {
  .profile-picture-editbox {
    position: absolute;
    top: -61px;
    left: 49px;
    z-index: 2;
    background: rgba(0,0,0,0.6);
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
    width: 128px;
    height: 128px;
    border-radius: 10%;
    .icon {
      margin: 40px auto;
    }
  }
  .profile-edit-card {
    overflow: visible;
    padding: 7px 10px;
    .form-group {
      margin-bottom: 7px;
    }
    .form-control {
      color: lighten($si-gray, 10%);
      border-color: $si-green;
      &.user-name-editbox {
        font-size: 1.8rem;
        font-weight: 700;
        height: 40px;
      }
      &.user-website-editbox {
        font-size:1.3rem;
        height: 25px;
      }
    }
    .loc-search-input {
      width: 100%;
      font-size:1.3rem;
      height: 25px;
    }
    .loc-search-list {
      top: 23px;
      width: 100%;
      font-size: 1.3rem;
    }
  }
  .profile-bio-item {
    font-size: 1.2rem;
    color: $si-light-gray;
    height: 25px;
    padding: 0 15px;
  }
  .switch-bar-title {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    margin: 20px 5px 10px;
    color: $si-light-gray2;
  }
  .profile-picture-editmodal {
    text-align: center;
  }
  .save-btn {
    @include green-button(162px, 25px, 1.6rem);
    font-weight: 600;
    &.disabled {
      background: lighten($si-light-gray,20%);
      font-size: 1.3rem;
      pointer-events: none;
      cursor: default!important;
    }
  }
  .cancel-btn {
    @include colored-button(121px, 25px, 1.6rem, lighten($si-gray, 10%));
    margin-left: 10px;
    font-weight: 600;
  }
  .buttons-holder {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: auto;
  }
}
.profile-picture-dialog {
  width: 400px!important;
}
