.Dropdown {
  list-style: none;
  margin: 0;
  padding: 0;

  &.size-small {
    .dropdown-menu {
      font-size: 13px;
      margin: 0;
    }
    .dropdown-menu > li > a {
      padding: 4px 12px;
    }
    .dropdown-menu .divider {
      margin: 5px 0;
    }
  }
}
