@import "topbar";
@import "mainmenu";

#main-menu .container, #row-logo .container {
  padding: 0;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  background-color: $shoutit-light-gray;
}
