#row-logo .selectpicker button, #loginButton {
  background: $shoutit-light-green;
  border: none;
  box-shadow: none;
  height: 45px;
  color: #343837;
  font-size: 15px;
  font-family: "Arial-Bold", sans-serif;
}

#row-logo {
  background-color: $shoutit-dark-green;
  margin-bottom: 1px;

  #loginButton {
    padding-top: 12px;

    @media (min-width: 991px) {
      margin-top: 18px;
    }

  }

  .header-logo {
    margin-top: 8px;

    @media (min-width: 991px) {
      width: 65%;
    }

    @media (max-width: 620px) {
      .center {
        width: 100%;
        text-align: center;
        padding: 0 5px;
      }
    }

    .dropdown-menu {
      width: 200px;
    }

    .input-group-addon {
      background-color: #fff;
      border: none;
    }

    .form-control {
      border: none;
    }

    .searchButton {
      padding: 0;
    }

    .header-search {
      margin-top: 10px;

      .form-control {
        background-color: #fff;
      }

      .list-search {
        position: absolute;
        left: 5px;
        top: 47px;
        width: 100%;
        z-index: 100;
        padding: 0 20px 0 10px;
        overflow: auto;
      }

      @media (max-width: 620px) {
        .list-search {
          left: 0;
          padding: 0;
        }
      }

      .list-search ul {
        background: #fff;
        border-radius: 5px;
        max-height: 500px;

      }

      .list-search ul > li {
        padding: 5px 10px;
        color: #99ca3b;
        font-size: 1.1em;
      }

      .list-search ul > li .list-search-sub li {
        cursor: pointer;
        padding: 2px 10px;
      }

      .list-search ul > li .list-search-sub li a {
        display: block;
      }

      .list-search ul > li .list-search-sub li:not(.more) a {
        color: #7a7a7a;
        text-decoration: none;
      }

      .list-search ul > li .list-search-sub li:hover:not(.more) {
        background: #bfdd6d;
      }

      .list-search ul > li .list-search-sub li.more {
        float: none;
        background: #d3d3d3;
        color: #343837;
      }

    }
  }

  .header-icon {
    padding: 0;

    @media (max-width: 991px) {

      .navbar-right {
        display: table;
        margin: 0 auto;
        float: none !important;
      }

      .navbar-right > li {
        display: inline-block;
      }
    }

    #loginButton {
      @media (max-width: 991px) {
        display: none;
      }
    }
  }

  .profile img {
    vertical-align: baseline;
    border-radius: 25px;
  }

  .nav > li > a:hover,
  .nav > li > a:focus,
  .nav .open > a {
    background: none;
  }

  .dropdown-menu {
    width: 325px !important;
    height: 380px;

    margin-top: 0;
    border-radius: 0;

    > li {
      display: table;
      width: 100%;
      padding: 15px 0 10px 0;
    }

    .nav-setting {
      height: 30px;
    }
  }

  .messages > .dropdown-menu > li > div {
    padding-right: 10px;
    padding-left: 10px;
  }
}

