.topBar {

  background-color: $shoutit-dark-green;
  margin-bottom: 1px;
  padding-top: 5px;

  @media (min-width: 991px) {
    margin-right: 0;
  }

  .logo {
    img {
      height: 32px;
    }
  }

  @import "./topBar/searchRow";

  #loginButton {
    background: $shoutit-light-green;
    border: none;
    box-shadow: none;
    color: #343837;
    font-size: 15px;
    font-family: "Arial-Bold", sans-serif;
    padding-top: 6px;

    margin-right: 5px;
  }

  @media (max-width: 620px) {
    .center {
      width: 100%;
      text-align: center;
      padding: 0 5px;
    }
  }

  .header-icon {
    padding: 0;

    @media (max-width: 991px) {

      .navbar-right {
        display: table;
        margin: 0 auto;
        float: none !important;
      }

      .navbar-right > li {
        display: inline-block;
      }
    }

    #loginButton {
      @media (max-width: 991px) {
        display: none;
      }
    }
  }

  .profile {

    a {
      padding: 0 5px;
    }

    img {
      vertical-align: baseline;
      border-radius: 25px;
    }
  }

  .nav > li > a {
    padding: 0 5px;
  }

  .nav > li > a:hover,
  .nav > li > a:focus,
  .nav .open > a {
    background: none;
  }

  .dropdown-menu {
    margin-top: 0;
    border-radius: 0;

    > li {
      display: table;
      width: 100%;
      padding: 15px 0 10px 0;
    }

    .nav-setting {
      height: 30px;
    }
  }

  .messages > .dropdown-menu > li > div {
    padding-right: 10px;
    padding-left: 10px;
  }
}

