#row-logo {
  background-color: $shoutit-dark-green;
  margin-bottom: 1px;

  .selectpicker, #loginButton {
    background: $shoutit-light-green;
    border: none;
    box-shadow: none;
    height: 45px;
    color: #343837;
    font-size: 15px;
    font-family: "Arial-Bold", sans-serif;
  }

  #loginButton {
    padding-top: 12px;
    margin-top: 18px;
  }

  .header-logo {
    margin-top: 8px;

    @media (min-width: 991px) {
      width: 65%;
    }

    @media (max-width: 620px) {
      .center {
        width: 100%;
        text-align: center;
        padding: 0;
      }
    }

    .dropdown-menu {
      width: 200px;
    }

    .input-group-addon {
      background-color: #fff;
      border: none;
    }

    .form-control {
      border: none;
    }

    .searchButton {
      padding: 0;
    }

    .header-search {
      margin-top: 10px;

      .form-control {
        background-color: #fff;
      }
    }
  }

  .header-icon {
    padding: 0;

    @media (max-width: 991px) {
      .navbar-right {
        display: table;
        margin: 0 auto;
        float: none !important;
      }

      .navbar-right > li {
        display: inline-block;
      }
    }
  }

  .profile img {
    vertical-align: baseline;
    border-radius: 25px;
  }

  .nav > li > a:hover,
  .nav > li > a:focus,
  .nav .open > a {
    background: none;
  }

  .dropdown-menu {
    width: 325px !important;
    height: 380px;

    margin-top: 0;
    border-radius: 0;

    > li {
      display: table;
      width: 100%;
      padding: 15px 0 10px 0;
    }

    .nav-setting {
      height: 30px;
    }
  }

  .messages > .dropdown-menu > li > div {
    padding-right: 10px;
    padding-left: 10px;
  }
}

