@import '../styles/constants.scss';
@import '../styles/mixins/ellipsis.scss';
@import '../styles/mixins/buttons.scss';

.Button.default {
  @include defaultButton();
}
.Button.primary {
  @include primaryButton();
}
.Button.secondary {
  @include secondaryButton();
}
.Button.destructive {
  @include destructiveButton();
}
.Button.inverted {
  @include invertedButton();
}

.Button.alternate {
  @include alternateButton();
}

.Button-label {
  @include ellipsis();
  display: inline-block;
  padding: 0 1em;
  vertical-align: middle;
  a {
    color: inherit !important;
  }
  > * {
    vertical-align: middle;
  }
}

.Button-icon {
  display: inline-block;
  padding: 0 .5em;
  vertical-align: middle;
  svg {
    vertical-align: middle;
  }
}

.Button {
  .Icon {
    margin-left: 1em;
  }
  .Icon + .Button-label,
  .Button-start + .Button-label {
    padding-left: .5em;
  }
}


$facebook-base-color: #395185;
$google-base-color: darken(#DC4E41, 10);

.Button.facebook,
.Button.google {
  @include socialButton();
  .Icon {
    padding-right: .5rem;
    border-right: 1px solid $white;
  }
}

.Button.facebook {
  background-color: lighten($facebook-base-color, 10);
  &:not(.disabled):hover {
    background-color: $facebook-base-color;
  }
  &:disabled,
  &.disabled {
    background-color: lighten($facebook-base-color, 30);
  }
}


.Button.google {
  background-color: lighten($google-base-color, 10);
  &:not(.disabled):hover {
    background-color: $google-base-color;
  }
  &:disabled,
  &.disabled {
    background-color: lighten($google-base-color, 30);
  }
}
