.FileInput {
  display: inline-block;
  vertical-align: middle;
  input {
    position: absolute;
    z-index: -1;
    overflow: hidden;
    width: .1px;
    height: .1px;
    opacity: 0;
  }
  label {
    cursor: pointer;
    display: inline-block;
  }
}
