@import '../styles/constants';

$formFieldBorderColor: $grey-light-3;
$formFieldBorderColorHover: $grey-light-2;
$formFieldBorder: 1px solid $formFieldBorderColor;
$formFieldOutlineShadow: 0 0 5px 0 rgba($color-primary, .20);


%inputBase {
  appearance: none;
  display: block;
  width: 100%;
  padding: .75em;
  color: $color-text;
  border: 0;
  outline: none;
  background-color: transparent;
  font-family: $font-family;
  font-size: .875em;

  // @media screen and (-webkit-min-device-pixel-ratio:0) { 
  //   font-size: 16px;
  //   padding: .5em;
  // }
}

.FormField.flex {
  flex: 1;
}

.FormField > .AncillaryText {
  margin-left: .25em;
}

:not(.FieldsGroup) > .FormField + .FormField,
.FieldsGroup + .FieldsGroup,
.FormField + .FieldsGroup,
.FieldsGroup + .FormField {
  margin-top: .75em;
}

.FormField + .Button,
.FieldsGroup + .Button {
  margin-top: .75em;
}

.FieldsGroup > .FormField + .FormField {
  padding-top: 0;
  padding-left: .5em;
}

.FormField-wrapper {
  position: relative;
  z-index: 0;
  overflow: hidden;
  border: $formFieldBorder;
  border-radius: .25em;
  background-color: $white;
}

.FormField.disabled .FormField-wrapper {
  background-color: $grey-light-6;
  input, textearea, select {
    color: $color-placeholder !important;
  }
}

.FormField.with-input .FormField-wrapper,
.FormField.with-select .FormField-wrapper {
  height: 2.375em;
}

.FormField:hover:not(.disabled) .FormField-wrapper {
  border-color: $formFieldBorderColorHover;
}

.FormField.has-focus .FormField-wrapper {
  border-color: $color-primary !important;
  box-shadow: $formFieldOutlineShadow;
}

.FormField.has-error .FormField-wrapper {
  border-color: $input-error !important;
  box-shadow: 0 0 5px 0 rgba($input-error, .20) !important;
}

.FormField.flexible-content .FormField-wrapper {
  display: flex;
  flex-direction: row;

  .FormField-start, 
  .FormField-end {
    display: block;
    width: auto;
  }
  .FormField-element {
    flex: 1;
  }
}

.FormField-start,
.FormField-end {
  display: flex;
  justify-content: center;
  min-width: 2.5em;
  line-height: 2.5em; // 40px
  /*!rtl:remove*/
  line-height: 2.25em; // 36px

  svg {
    display: inline-block;
    vertical-align: middle;
  }
}

.FormField-start {
  border-right: $formFieldBorder;
}

.FormField-end {
  border-left: $formFieldBorder;
}


.FormField-start select:focus {
  color: $color-primary;
  background-image: url('../../assets/ui-elements/dropdown-caret-big-active.svg');
}

.FormField:not(.flexible-content) .FormField-start {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
}

.FormField:not(.flexible-content) .FormField-end {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
}

.FormField.with-input .FormField-start,
.FormField.with-input .FormField-end {
  z-index: 3;
}

.FormField.with-select .FormField-start,
.FormField.with-select .FormField-end,
 {
  z-index: 1;
}

.FormField-element {
  position: relative;
  z-index: 2;
}

.FormField.has-start:not(.flexible-content) .FormField-element input,
.FormField.has-start:not(.flexible-content) .FormField-element select, {
  padding-left: 3.25em;
}

.FormField.has-end:not(.flexible-content) .FormField-element input,
.FormField.has-end:not(.flexible-content) .FormField-element select, {
  padding-right: 3.25em;
}


.FormField textarea {
  @extend %inputBase;
}

.FormField input:not([type='radio']):not([type='range']):not([type='checkbox']),
.FormField select {
  @extend %inputBase;
  line-height: 1.1875em; // 19px
  /*!rtl:remove*/
  line-height: 1.2em; // 18px
}

.FormField select {
  padding-right: 24px;
  background-image: url('../../assets/ui-elements/dropdown-caret-big.svg');
  background-repeat: no-repeat;
  background-position: 100%;
  /*!rtl:ignore*/
  html[dir='rtl'] & {
    background-position: 7px;
  }
}

.FormField-error {
  margin: .5em .25em;
  color: $input-error;
  font-size: .75em;
}
