@import '../styles/constants.scss';

.LocationRange label {
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.LocationRange-label {
  flex: 1;
  color: $color-text-light;
  font-size: 12px;
  margin: 0 .25em;
  text-align: center;
}

.LocationRange-icon {
  align-self: flex-start;
}