@import '../styles/constants.scss';
@import './FormField.scss';

.Switch {
  display: flex;
  align-items: center;
  outline: none;
  font-size: .875em;
  input {
    position: fixed;
    left: -20000px;
  }
  label {
    display: inline-block;
  }
  .Switch-checkbox {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    margin-right: .5em;
    border: $formFieldBorder;
    border-radius: .25em;
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: contain;
  }
  &:hover .Switch-checkbox {
    border-color: $formFieldBorderColorHover;
  }

  input:checked + .Switch-checkbox {
    border-color: $color-primary;
    background-color: $color-primary;
    background-image: url('../../assets/ui-elements/checkbox.svg');
  }

  input:focus + .Switch-checkbox {
    border-color: $color-primary;
    box-shadow: $formFieldOutlineShadow;
  }
}
