$si-white: #fff;
$si-light-green: #EEF6E8;
$si-green: #a7d281;
$si-dark-green: #7EBE59;
$si-gray: #3b3b3b;
$si-light-gray: #989899;
$si-light-gray2: #bfbfbf;
$si-bg: #edefed;
$si-blue: #337ab7;
$si-light-blue: #3ac3dc;
$si-orange : #f7be5a;
$si-card: #f8f9f8;
$si-footer-bg: #58585a;
$si-footer-text: #e6e9ed;

$si-error-color: #E73F3F;

$border-color: #EDEFED;
$border-color-dark: #DFDFDF;
$border-color-alt: #a7d281;
$color-light: #989899;
$background-color-light: #EDEFED;
$background-color-alt-light: #F8FAFB;  // slightly green
$background-color-alt: #EEF6E8;  // slightly green
$background-color: #F3F3F3;
