@charset "UTF-8";
.image-gallery {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

.image-gallery-content {
  position: relative; }
  .image-gallery-content .image-gallery-left-nav, .image-gallery-content .image-gallery-right-nav {
    color: #fff;
    cursor: pointer;
    font-size: 6em;
    line-height: 0;
    position: absolute;
    text-shadow: 0 2px 2px #222;
    transition: all .2s ease-out;
    background: $si-white;
    height: 350px;
    top: 0;
    width: 5%;
    z-index: 1; }

  .image-gallery-content .image-gallery-left-nav {
    left: 0; }
    .image-gallery-content .image-gallery-left-nav:before {
      content: '';
      display: block;
      position: relative;
      top: 48%;
      @extend .res1x-arrow; }
  .image-gallery-content .image-gallery-right-nav {
    right: 0; }
    .image-gallery-content .image-gallery-right-nav:before {
      content: '';
      display: block;
      position: relative;
      top: 48%;
      margin-left: 15px;
      @extend .res1x-arrow;
      transform: rotate(180deg); }

.image-gallery-slides {
  line-height: 0;
  overflow: hidden;
  position: relative;
  white-space: nowrap; }

.image-gallery-slide {
  opacity: 0;
  position: absolute;
  transition: all .35s ease-out;
  width: 90%;
  height: 350px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center; }
  .image-gallery-slide.left, .image-gallery-slide.right {
    left: 0;
    top: 0; }
  .image-gallery-slide.left {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  .image-gallery-slide.center {
    opacity: 1;
    position: relative; }
  .image-gallery-slide.right {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  .image-gallery-slide img {
    width: auto;
    max-height: 350px }

.image-gallery-bullets {
  bottom: 20px;
  position: absolute;
  text-align: center;
  width: 100%; }
  .image-gallery-bullets .image-gallery-bullets-container {
    margin: 0;
    padding: 0; }
  .image-gallery-bullets .image-gallery-bullet {
    border: 1px solid #fff;
    border-radius: 50%;
    box-shadow: 0 1px 0 #222;
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    padding: 5px; }
    @media (max-width: 768px) {
      .image-gallery-bullets .image-gallery-bullet {
        margin: 0 3px;
        padding: 3px; } }
    .image-gallery-bullets .image-gallery-bullet.active {
      background: #fff; }

.image-gallery-thumbnails {
  background: #fff;
  overflow: hidden;
  padding-top: 10px; }
  .image-gallery-thumbnails .image-gallery-thumbnails-container {
    cursor: pointer;
    text-align: center;
    transition: all .45s ease-out;
    white-space: nowrap; }

.image-gallery-thumbnail {
  display: inline-block;
  height: 69px;
  width: 106px;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 20px 7.5px 28px; }
  .image-gallery-thumbnail{
    transition: border .1s ease-out;
    vertical-align: middle;
    width: 106px; }
    @media (max-width: 768px) {
      .image-gallery-thumbnail{
        width: 75px; } }
  .image-gallery-thumbnail.active {
    border: 3px solid $si-green; }
    @media (max-width: 768px) {
      .image-gallery-thumbnail.active {
        border: 3px solid $si-green; } }
