@import "bootstrap";
@import "bootstrap/theme";

$shoutit-dark-green: #99ca3b;
$shoutit-light-green: #bfdd6d;
$shoutit-dark-gray: #343837;
$shoutit-light-gray: #f1efef;

@import "customstyle";
@import "fonts";
@import "header/header";
@import "style";
@import "vuong";

.form-control, .modal-form .btn-group .btn {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 45px;
}

$icons-sprite-dimensions: true;
$icons-layout: smart;
@import "compass/utilities/sprites";
@import "icons/*.png";
@include all-icons-sprites;

.icons-tag {
  display: inline-block;
  margin-bottom: 0 !important;
  margin-top: 1px;
  margin-right: 2px;
}

@import "tagsinput";

.appstore_btn {
  display: inline-block;
  overflow: hidden;
  background: url(https://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.png) no-repeat;

  height: 45px;
  @media only screen {
    background-image: url(https://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg);
  }
}

