@import "bootstrap";
@import "grid";

// Magic spriting with compass
@import "compass/utilities/sprites";
$res1x-sprite-dimensions: true;
@import "res1x/*.png";
@include all-res1x-sprites;

$si-white: #fff;
$si-green: #a7d281;
$si-gray: #3b3b3b;
$si-light-gray: #58585a;
$si-bg: #edefed;

$si-error-color: #E73F3F;
$grid-unit: 70px;

$default-font-size: 1.6rem;
$default-font-size-small: 1.3rem;
$default-font-size-large: 1.8rem;

$default-spacing: 10px;

// External libs
@import "dropzone";
@import "fonts";
@import "image-gallery";
//@import "video-player";
@import "tagsinput";

// Pages
@import "pages/_mixins.scss";
@import "pages/general.scss";
@import "pages/mainpage.scss";



