@import "bootstrap";
@import "grid";

// Magic spriting with compass
@import "compass/utilities/sprites";
$res1x-sprite-dimensions: true;
@import "res1x/*.png";
@include all-res1x-sprites;

$si-white: #fff;
$si-green: #a7d281;
$si-dark-green: #7EBE59;
$si-gray: #3b3b3b;
$si-light-gray: #989899;
$si-light-gray2: #bfbfbf;
$si-bg: #edefed;
$si-blue: #337ab7;
$si-light-blue: #3ac3dc;
$si-orange : #f7be5a;
$si-card: #f8f9f8;

$si-error-color: #E73F3F;
$grid-unit: 70px;

$default-font-size: 1.6rem; 
$default-font-size-small: 1.3rem;
$default-font-size-large: 1.8rem;

$default-spacing: 10px;

// External libs
@import "dropzone";
@import "fonts";
@import "image-gallery";
@import "video-player";
@import "tagsinput";

// Components and Pages
@import "pages/_mixins.scss";
@import "pages/general.scss";

@import "components/header.scss";
@import "components/card.scss";
@import "components/shout.scss";
@import "components/shout_detail.scss";
@import "components/tags.scss";
@import "components/shout_form.scss";
@import "components/location_search.scss"; 
@import "components/profile_menu.scss";
@import "components/profile_info_tooltip.scss";
@import "components/popup_list.scss"; 
@import "components/topbar_buttons.scss"; 
@import "components/si_buttons.scss"; 

@import "pages/mainpage.scss";
@import "pages/homepage.scss";
@import "pages/search.scss";
@import "pages/profilepage.scss";


