@import "_flexbox";

.Page {

  &.hasFixedHeight {

    > header {
      position: fixed;
      left: 0;
      right: 0;
      z-index: 1000;
    }

  }

}

.Page-wrapper {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}

  .Page-content {

    .Page.hasFixedHeight & {
      position: absolute;
      top: 5px;
      right: 0;
      bottom: 5px;
      left: 0;
    }

  }
