.react-tagsinput {
  border: 1px solid #e1e1e1;
  background: $shoutit-light-gray;
  padding: 6px 12px;
  overflow-y: auto;
  border-radius: 5px;
  font-size: 15px;
}

.react-tagsinput-tag {
  display: block;
  border: 1px solid $shoutit-dark-green;
  background: $shoutit-light-green;
  color: $shoutit-dark-gray;
  font-size: 15px;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  float: left;
  padding: 4px;
  text-decoration: none;
  border-radius: 2px;
  margin-right: 3px;
}

.react-tagsinput-invalid {
  background: #FBD8DB !important;
  color: #90111A !important;
}

.react-tagsinput-validating {
  background: #FFFACD !important;
}

.react-tagsinput-remove {
  font-weight: bold;
  color: $shoutit-dark-gray;
  text-decoration: none;
  font-size: 11px;
  cursor: pointer;
}

.react-tagsinput-remove:before {
  content: " x";
}

.react-tagsinput-input {
  background: transparent;
  color: #777;
  border: 0;
  font-size: 15px;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  padding: 5px;
  margin: 0;
  width: 115px;
  outline: none;
}
