doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        title= title

        link(rel='icon', type='image/png' href="/img/fav.png")

        link(rel='stylesheet', href='/css/main.css', type='text/css' )

    body
        #main-mount!= reactMarkup

        #fb-root

        script#fluxData.
            window.fluxData = !{serializedFlux}

        script(src="https://apis.google.com/js/client:platform.js")
        script(src="https://connect.facebook.net/en_US/sdk.js")
        script(src="/main.js")
