doctype html
html
    head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# shoutitcom: http://ogp.me/ns/fb/shoutitcom#")
        include meta

        title= title
        link(rel='icon', type='image/png' href="/img/fav.png")
        link(rel='stylesheet', href='/css/main.css', type='text/css' )
    body
        #main-mount!= reactMarkup

        #fb-root

        script#fluxData.
            window.fluxData = !{serializedFlux}

        script(async,src="https://apis.google.com/js/client:platform.js")
        script(async,src="https://connect.facebook.net/en_US/sdk.js")
        script(async,src="https://www.google-analytics.com/analytics.js")
        script(type="text/javascript",src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTB6-OnMETp1wjS8ZnUugqrlW5UcdEkgc&sensor=true&libraries=places&language=en-us")
        script(async,src="/main.js")

