meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
meta(property="og:site_name" content=graph.siteName)
meta(name="theme-color" content="#99ca3b")
link(rel="icon" sizes="120x120" href="img/shoutit_white_120.png")

include fbgraph
include twittercard
