html
	head
		title Reset password
		link(rel='stylesheet', href='/css/main.css', type='text/css' )
	body

		div(class='login')
			div(class='login-container' style='padding-bottom:50px')
				div(class='top-login')
					h4 Reset your Shoutit password!
				if resp
					if resp.success
						h3 Congrats!
							=resp.success
						p Now you can login from
							a(href='../login') here
					else
						for err in resp
							p=err
				if !resp || !resp.success
					form(method='post')
						input(type='hidden',value=reset_token,name='reset_token')
						div(class='form-group')
							input(name='new_password',type='password', placeholder='New password', class='input-pass form-control')
						div(class='form-group')
							input(name='new_password2',type='password', placeholder='Re-enter password again', class='input-pass form-control')
						div(class='form-group')
							button(type='submit',class='btn-signin btn-block btn btn-lg btn-default').
								Change Password
