@import '../../styles/constants.scss';

.Header {
  position: relative;
  display: flex;
  flex-direction: column;
}


.Header-location {
  display: flex;
  align-items: center;
  
  cursor: pointer;
  color: $color-text-light;
  span {
    margin-left: .5em;
  }
  .Header.desktop & {
    margin-left: $horizontal-spacing;
  }
  .Header.mobile & {
    margin-left: $horizontal-spacing/2;
  }
}

.Header-logo a {
  position: relative;
  top: 3px;
  display: inline-block;
}

.Header-toolbar-loggedIn {
  display: flex;
  align-items: center;
  margin-right: .5em;
  > * {
    margin: 0 .5em;
  }
  .ProfileAvatar {
    width: 30px;
    height: 30px;
  }
}

.Header-top {
  display: flex;
  align-items: center;
  font-size: .875em;

  flex: 1;

  .Header.mobile & {
    margin-top: .5em;
  }
}


.Header-toolbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  &.mobile {
    flex: 1;
    .ProfileAvatar {
      width: 35px;
      height: 35px;
    }
  }
}

.Header-search {
  display: flex;
  justify-content: center;

  flex: 1;
  .Header.desktop & {
    margin: 0 $horizontal-spacing;
  }
  .Header.mobile & {
    margin: $vertical-spacing/2 0;
  }
}
