.SimpleIcon {
  display: inline-block;
  transition: transform .2s;
  transform: translateZ(0);
  vertical-align: middle;

  -webkit-backface-visibility: hidden;
  &.rotate-down {
    transform: rotate(90deg) translateZ(0);
  }
  &.rotate-right {
    transform: rotate(180deg) translateZ(0);
  }
}
