.SimpleIcon {
  transition: transform 0.2s;
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);
  &.rotate-down {
    transform: rotate(90deg) translateZ(0);
  }
  &.rotate-right {
    transform: rotate(180deg) translateZ(0);
  }
}
