@import '../styles/constants.scss';
.HeaderProfileOverlay {
  list-style: none;
  padding: 0;
  margin: .5rem 0;
  font-size: 0.875rem;
  li {
    margin: 0;
    padding: .25rem;
    white-space: nowrap;
    &.separe {
      margin-top: .25rem;
      padding-top: .5rem;
      border-top: 1px solid #999;
    }
  }
}
