@import '../styles/constants.scss';
@import '../styles/mixins/ellipsis.scss';
@import '../styles/mixins/intl.scss';

.Button {
  display: inline-block;
  padding: .3rem 1rem;
  cursor: pointer;
  text-align: center;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  color: $color;
  border: 0;
  border: 1px solid transparent;
  border-radius: .25rem;
  font-size: 1rem;

  -webkit-appearance: none;
  &:hover {
    color: $color;
  }
  &.block {
    display: block;
    width: 100%;
  }
  &.with-icon {
    @include start(padding, .5rem);
  }
  &.size-small {
    padding: .3rem .75rem;
    border-radius: .2rem;
    font-size: .875rem;
    &.with-icon {
      @include start(padding, .5rem);
    }
  }
}

.Button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}


.Button-icon {
  @include end(padding, .35rem);
}

.Button-label {
  @include ellipsis();
  line-height: $icon-size-medium;
  .Button.size-small & {
    line-height: $icon-size-small;
  }
}

.Button.action-default {
  border-color: #DDD;
  background-color: white;
  background-image: linear-gradient(rgba(black, 0), rgba(black, .05));
  &:hover {
    background-color: white;
    background-image: linear-gradient(rgba(black, .025), rgba(black, .075));
  }
  &:disabled,
  &.disabled {
    color: #CCC;
    border-color: transparent;
    background-color: #F1F1F1;
    background-image: none;
  }
  a,
  a:hover {
    color: $color;
  }
}

.Button.action-primary {
  color: white;
  border-color: $si-green darken($si-green, 5) darken($si-green, 15);
  background-color: $si-green;
  background-image: linear-gradient($si-green, darken($si-green, 15));
  &:hover {
    background-color: darken($si-green, 5);
    background-image: linear-gradient(darken($si-green, 5), darken(darken($si-green, 5), 15));
  }
  &:disabled,
  &.disabled {
    border-color: transparent;
    background-color: lighten($si-green, 20);
    background-image: none;
  }
  a,
  a:hover {
    color: white;
  }
}

.Button.action-primary-alt {
  color: white;
  border-color: $shoutit-blue darken($shoutit-blue, 5) darken($shoutit-blue, 15);
  background-color: $shoutit-blue;
  background-image: linear-gradient($shoutit-blue, darken($shoutit-blue, 15));
  &:hover {
    background-color: darken($shoutit-blue, 5);
    background-image: linear-gradient(darken($shoutit-blue, 5), darken(darken($shoutit-blue, 5), 15));
  }
  &:disabled,
  &.disabled {
    border-color: transparent;
    background-color: lighten($shoutit-blue, 20);
    background-image: none;
  }
  a,
  a:hover {
    color: white;
  }
}

.Button.action-inverted {
  color: white;
  border-color: white;
  background-color: black;
  background-image: linear-gradient(lighten(black, 30), black);
  &:disabled,
  &.disabled {
    color: rgba(white, .7);
    background-image: none;
  }
  a,
  a:hover {
    color: white;
  }
}

.Button.action-destructive {
  color: white;
  border-color: $shoutit-red darken($shoutit-red, 5) darken($shoutit-red, 5);
  background-color: $shoutit-red;
  background-image: linear-gradient($shoutit-red, darken($shoutit-red, 5));
  &:hover {
    background-color: darken($shoutit-red, 5);
    background-image: linear-gradient(darken($shoutit-red, 5), darken(darken($shoutit-red, 5), 5));
  }
  &:disabled,
  &.disabled {
    border-color: transparent;
    background-color: lighten($shoutit-red, 20);
    background-image: none;
  }
  a,
  a:hover {
    color: white;
  }
}

$facebook-base-color: #395185;

.Button.facebook,
.Button.google {
  color: white;
  border-color: transparent;
  .Button-label {
    color: white;
    @include start(padding, .5rem);
  }
  .Button-icon {
    @include end(padding, .5rem);
    @include end(border, 1px solid rgba(white, .5));
  }
  &:not(.disabled):hover {
    color: white;
    .Button-label {
      color: white;
    }
  }
  .Button-wrapper {
    justify-content: flex-start;
  }
}

.Button.facebook {
  background-color: lighten($facebook-base-color, 10);
  &:not(.disabled):hover {
    background-color: $facebook-base-color;
  }
  &:disabled,
  &.disabled {
    background-color: lighten($facebook-base-color, 30);
  }
}

$google-base-color: darken(#DC4E41, 10);
.Button.google {
  background-color: lighten($google-base-color, 10);
  &:not(.disabled):hover {
    background-color: $google-base-color;
  }
  &:disabled,
  &.disabled {
    background-color: lighten($google-base-color, 30);
  }
}
