@import "../styles/mixins/ellipsis.scss";
@import "../styles/mixins/card.scss";

.CardWithList {
  @include card();
  padding: .25rem;
  ul {
    margin: .5rem 0;
    padding: 0 .5rem;
    list-style: none;
    li {
      margin: .25em 0;
    }
  }
}
