@import "../styles/constants.scss";
@import "../styles/mixins/ellipsis.scss";

.Card {
  position: relative;
  border-radius: $border-radius;
  background-color: white;
  position: relative;
  box-shadow: $box-shadow-depth-0;
  display: inline-block;
  &.size-small {
    width: 240px;
  }
  &.size-medium {
    width: 320px;
  }
  &.block {
    display: block;
  }
}

.Card-image-wrapper {
  border-radius: $border-radius;
  position: relative;
  background-color: $background-color-alt-light;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  width: 100%;
  padding-bottom: 75%;

  .Card.no-image & {
    background-image: url("../../assets/icons/no-camera-fill.svg");
  }

}

.Card-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: $border-radius;
}

.Card-title {
  padding: .75rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: $color;
  background-color: rgba(white, 1);
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  .Card-title-max-height {
    vertical-align: middle;
    display: inline-block;
    max-height: 36px;
    overflow: hidden;
  }

}

a > .Card {
  color: $color;
}
//
// a:hover > .Card .Card-image {
//     opacity: 0.9;
//   }
