@import '../styles/constants.scss';
@import '../styles/mixins/ellipsis.scss';

$card-border-radius: 2px;

.Card {
  position: relative;
  position: relative;
  display: inline-block;
  border-radius: $card-border-radius;
  background-color: $white;
  box-shadow: $box-shadow-depth-0;
  &.size-small {
    width: 240px;
  }
  &.size-medium {
    width: 280px;
  }
  &.block {
    display: block;
    width: 100%;
  }
}

.CardImage {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: $card-border-radius;
}

.CardImage > span {

  position: absolute;
  top: 0;
  right: 0;
  bottom: $card-border-radius;
  left: 0;
  border-radius: $card-border-radius;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.CardBody {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: .75em 1.25em 1.125em 1.25em;
  color: $color-text;
  border-bottom-right-radius: $card-border-radius;
  border-bottom-left-radius: $card-border-radius;
  background-color: rgba(white, 1);
  .Card-title-max-height {
    display: inline-block;
    overflow: hidden;
    max-height: 2.2em;
    vertical-align: middle;
  }
}

a > .Card {
  color: $color-text;
}
//
// a:hover > .Card .Card-image {
//     opacity: 0.9;
//   }
