@import '../styles/constants';

.CountryFlag {
  display: inline-block;
  width: $icon-size-medium;
  height: $icon-size-medium;
  vertical-align: middle;

  &.size-small {
    width: $icon-size-small;
    height: $icon-size-small;
    padding: 0;
  }

  &.size-large {
    width: $icon-size-large;
    height: $icon-size-large;
  }

  &.rounded {
    border-radius: 100%;
  }
}
