@import '../styles/constants';
$size-small: 18px;
$size-medium: 24px;
$size-large: 48px;

.CountryFlag {

  display: inline-block;
  vertical-align: middle;
  height: $size-medium;
  width: $size-medium;
  padding: 3px;

  &.size-small {
    height: $size-small;
    width: $size-small;
    padding: 0px;
  }

  &.size-large {
    height: $size-large;
    width: $size-large;
  }

  &.rounded {
    border-radius: 100%;
  }
}
