@import "../styles/constants.scss";

.ErrorMessage {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 0.875rem;
  .ErrorMessage-content {
    border-radius: $border-radius;
    display: inline-block;
    background-color: $shoutit-red;
  }
  .ErrorMessage-details {
    padding: .5rem 1rem;
    font-weight: lighter;
    background-color: lighten($shoutit-red, 10);
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
  .ErrorMessage-retry {
    margin-left: .5rem;
    text-decoration: underline;
    cursor: pointer;
    font-weight: normal;
  }
  h4 {
    margin: 0;
    padding: .5rem 1rem;
    font-weight: lighter;
    font-size: 1rem;
  }
}
