@import '../styles/constants';
@import '../styles/mixins/field';

.FormField {
  @include fieldContainer();
  input:not([type='radio']) {
    @include field();
  }
  select {
    @include field();
    padding-right: 24px;
    background-image: url('../../assets/ui-elements/dropdown-caret-big.svg');
    background-repeat: no-repeat;
    background-position: 100%;
  }
  textarea {
    @include field();
  }
  .field-element-wrapper {
    flex: 1;
  }
}

.FormField-start-element {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-right: 1px solid $border-color;
  .FormField {
    display: inline-block;
    > .field-wrapper {
      margin-top: -1px;
      margin-right: -1px;
      margin-bottom: -1px;
      margin-left: -1px;
      padding: 0;
      border: 1px solid transparent;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      background-color: transparent;
    }
  }
  + input {
    width: auto;
  }
}

.FormField-error {
  margin: .5em .25em;
  color: $shoutit-red;
  font-size: .75em;
}
