@import '../styles/constants';
$formFieldBorderColor: $grey-light-2;
$formFieldBorder: 1px solid $formFieldBorderColor;
$formFieldOutlineShadow: 0 0 5px 0 rgba($color-primary, .20);

%inputBase {
  appearance: none;
  display: block;
  width: 100%;
  padding: 9px 10px;
  color: $color-text;
  border: 0;
  outline: none;
  background-color: transparent;
  font-family: $font-family;
  font-size: 14px;
}

.FormField {
}

.FormField-wrapper {
  position: relative;
  z-index: 0;
  overflow: hidden;
  border: $formFieldBorder;
  border-radius: .25em;
  background-color: $white;
}

.FormField.with-input .FormField-wrapper,
.FormField.with-select .FormField-wrapper {
  height: 38px;
}

.FormField:hover .FormField-wrapper {
  border-color: $grey-light-1;
}

.FormField.has-focus .FormField-wrapper {
  border-color: $color-primary !important;
  box-shadow: $formFieldOutlineShadow;
}

.FormField.has-error .FormField-wrapper {
  border-color: $input-error !important;
  box-shadow: 0 0 5px 0 rgba($input-error, .20) !important;
}

.FormField.flexible-content .FormField-wrapper {
  display: flex;
  flex-direction: row;

  .FormField-start {
    display: block;
    width: auto;
  }
  .FormField-element {
    flex: 1;
  }
}

.FormField label {
  display: flex;
}

.FormField-label {
  display: inline-block;
  margin-bottom: 7px;
  font-size: 14px;
  font-weight: 500;
  flex: 1;
  text-rendering: geometricPrecision;
}

.FormField-max-length {
  color: $color-text-light;
  font-size: .75em;
}

.FormField-start {
  display: flex;
  justify-content: center;
  min-width: 36px;
  border-right: $formFieldBorder;
  line-height: 40px;
  /*!rtl:remove*/
  line-height: 36px;
}

.FormField-start select:focus {
  color: $color-primary;
  background-image: url('../../assets/ui-elements/dropdown-caret-big-active.svg');
}

.FormField:not(.flexible-content) .FormField-start {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
}

.FormField.with-input .FormField-start {
  z-index: 3;
}

.FormField.with-select .FormField-start {
  z-index: 1;
}

.FormField-element {
  position: relative;
  z-index: 2;
}

.FormField.has-start:not(.flexible-content) .FormField-element input,
.FormField.has-start:not(.flexible-content) .FormField-element select, {
  padding-left: 44px;
}

.FormField textarea {
  @extend %inputBase;
}

.FormField input:not([type='radio']),
.FormField select {
  @extend %inputBase;
  line-height: 19px;
  /*!rtl:remove*/
  line-height: 18px;
}

.FormField select {
  padding-right: 24px;
  background-image: url('../../assets/ui-elements/dropdown-caret-big.svg');
  background-repeat: no-repeat;
  background-position: 100%;
  /*!rtl:ignore*/
  html[dir='rtl'] & {
    background-position: 7px;
  }
}


.FormField-error {
  margin: .5em .25em;
  color: $input-error;
  font-size: .75em;
}
