@import "../styles/constants.scss";
@import '../styles/mixins/ellipsis.scss';

.ListItem {
  display: flex;
  align-items: center;

  font-size: 0.875rem;

  &.interaction-enabled {
    cursor: pointer;
  }

  &.size-small {
    font-size: 0.75rem;
  }

  &.disabled {
    opacity: 0.75;
  }

  a > & {
    color: $color
  }

  ul & {
    margin: .5rem 0;
    color: $color;
    &.size-small {
      margin: .25rem 0;
    }
  }
}

.ListItem-end {
  display: inline-block;
  .ListItem.nowrap & {
    @include ellipsis();
  }
}

.ListItem-start {
  flex-shrink: 0;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}

.ListItem-start + .ListItem-end {
  margin-left: .5rem;
}

.ListItem.size-small .ListItem-start + .ListItem-end {
  margin-left: .25rem;
}
