@import '../styles/constants.scss';

.Modal {
  position: absolute;
  z-index: $z-index-modal-host;
  top: $header-height + 20px;
  left: 50%;
  width: 500px;
  margin-bottom: 2rem;
  padding: 1.5rem;
  transform: translateX(-50%);
  border: 1px solid $border-color;
  border-radius: $border-radius;
  background-color: white;
  box-shadow: $box-shadow-depth-2;
  &.size-small {
    width: 350px;
  }
  &.size-medium {
    width: 500px;
  }
  &.size-large {
    width: 750px;
  }
}

.Modal > h1 {
  margin: 0;
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 1.25rem;
  font-weight: lighter;
}
