@import "../styles/constants.scss";
/*!rtl:begin:ignore*/
.Overlay {
  position: absolute;
  z-index: 1000;
  background-color: $white;
  border-radius: $border-radius-small;
  // ⚠️ if you change the shadow remember to update the arrows-* PNG ui-elements
  // to match the new shadow!
  box-shadow: $box-shadow-depth-2;
  &.arrow.bottom {
    transform: translateY(18px);
  }
  &.inverted {
    border-color: rgba(#535353, .97);
    background-color: rgba(#535353, .97);
    a > .ListItem,
    a {
      color: $white;
    }
  }
}

.Overlay-arrow {
  position: absolute;
  width: 46px;
  height: 18px;
  background-size: contain;
  .Overlay.bottom & {
    top: 0;
    transform: translate(-24px, -18px);
    background-image: url("../../assets/ui-elements/overlays/arrow-bottom.png");
  }
  .Overlay.bottom.inverted & {
    background-image: url("../../assets/ui-elements/overlays/arrow-bottom-inverted.png");
  }
}
/*!rtl:end:ignore*/
