@import "../styles/constants";

.Picker {
  position: relative;

  display: inline-block;

  height: 2.5rem;
  &.block {
    display: block;
  }
  &.disabled {
    opacity: 0.6;
  }
}

.Picker:not(.has-focus) {
  border-bottom: 1px solid lighten($color-lighter, 10);
}
.Picker:not(.has-focus).has-value {
  border-bottom: 1px solid transparent;
}

.Picker.has-focus {
  border-bottom: 1px solid $shoutit-blue;
}

.Picker-label {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  bottom: 0;
  left: 0;

  padding-left: 1px;

  user-select: none;

  font-size: 0.875rem;
  line-height: 2.5rem;
}

.Picker-label {
  color: $shoutit-blue;
}

  .Picker.has-focus .Picker-label,
  .Picker.has-value .Picker-label {
    z-index: 2;
    top: .25rem;
    bottom: auto;

    text-transform: uppercase;

    font-size: 0.5rem;
    line-height: 1em;
  }

  .Picker:not(.has-focus).has-value .Picker-label {
    color: $color-light;
  }

  .Picker.has-focus.has-value .Picker-label {
    color: $shoutit-blue;
  }

.Picker-select {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  left: 0;

  display: block;

  width: 100%;

  color: $shoutit-blue;
  border: 0;
  outline: none;
  background-color: transparent !important;

  font-size: 0.875rem;
  line-height: 1.75em;

  appearance: none;
  .Picker.has-focus & {
    color: $color;
  }
}
