@import '../styles/constants.scss';
@import '../styles/mixins/ellipsis.scss';
@import './FormField.scss';

.SegmentedControl {
  width: 100%;
}

.SegmentedControl-options {
  display: flex;
  width: 100%;
}

.SegmentedControl-option {
  display: inline-block;
  line-height: 34px;
  flex-grow: 1;
  
  input {
    display: none;
  }

  label {
    background-color: $white;
    @include ellipsis();
    display: block;
    padding: 0 .5em;
    text-align: center;
    border: 1px solid $formFieldBorderColor;
    border-right-width: 0;
    font-size: .875em;
  }

  input:checked + label {
    color: $white;
    border-color: $color-primary;
    background-color: $color-primary;
  }

  &.is-checked + .SegmentedControl-option > label {
    border-left-color: $color-primary;
  }

  &:first-child > label {
    border-top-left-radius: .25em;
    border-bottom-left-radius: .25em;
  }

  &:last-child > label {
    border-right-width: 1px;
    border-top-right-radius: .25em;
    border-bottom-right-radius: .25em;
  }
}
