@import "../styles/constants";

.TextField {
  position: relative;
  display: inline-block;
  border-bottom: 1px solid $color-placeholder;
  &.block,
  &.block input {
    display: block;
    width: 100%;
  }
  &.disabled {
    opacity: 0.6;
  }
  &.no-label:not(.has-focus):not(.has-value) {
    padding-top: .75rem;
  }
  &.has-error {
    border-bottom: 1px solid lighten($shoutit-red, 10);
  }
}

.TextField-label {
  display: block;
  text-align: left;
  text-transform: uppercase;
  color: $color-light;
  font-size: 0.5rem;
  line-height: .5rem;
  padding-top: .5rem;
  padding-left: .5rem;
  padding-right: .5rem;

  .TextField.no-label:not(.has-focus):not(.has-value) & {
    display: none;
  }

  .TextField.has-focus &,
  .TextField.has-value & {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
  }
}

.TextField-input {
  position: relative;
  z-index: 1;
  color: $color;
  border: 0;
  background-color: transparent !important;
  padding: 0;
  font-size: 0.875rem;
  line-height: 1.75rem;
  padding-left: .5rem;
  // outline: none;

  .TextField.has-focus &,
  .TextField.has-value & {
    padding-top: .75rem;
    line-height: 2rem;
  }

  .TextField.has-error.has-value & {
    color: $input-error;
  }

  .TextField.no-label:not(.has-focus):not(.has-value) & {
    font-size: 1rem;
    line-height: 2rem;
  }

}

.TextField-error-overlay {
  display: flex;
  align-items: center;
  width: 200px;
  min-height: 3rem;
  padding: .5rem .75rem;
  font-size: 0.75rem;
  color: $shoutit-red;
}
