@import "../styles/constants";

.TextField {
  position: relative;
  display: inline-block;
  &.block, &.block input {
    display: block;

    width: 100%;
  }
  &.disabled {
    opacity: 0.6;
  }

}

.TextField:not(.has-focus) {
  border-bottom: 1px solid lighten($color-lighter, 10);
}

.TextField:not(.has-focus) {
  border-bottom: 1px solid transparent;
}

.TextField.has-focus {
  border-bottom: 1px solid $shoutit-blue;
}

.TextField-label {
  text-transform: uppercase;
  color: $color-light;
  font-size: 0.5rem;
  line-height: 1em;
  padding-left: 1px;
}

  .TextField:not(.has-focus).has-value .TextField-label {
    color: $color-light;
  }

.TextField-input {
  z-index: 2;
  right: 0;
  bottom: 0;
  left: 0;

  color: $shoutit-blue;
  border: 0;
  outline: none;
  background-color: transparent !important;

  font-size: 0.875rem;
  line-height: 1.5rem;
  .TextField.has-focus & {
    color: $color;
  }
}
