@import "../styles/constants/colors.scss";
@import "../styles/constants/dimensions.scss";
@import "../styles/constants/shadows.scss";


.UINotification {
  height: 0;
  width: 500px;
  border-radius: $border-radius;
  position: relative;
  transition: all 250ms;

  box-shadow: $box-shadow-depth-2;

  &.type-message {
    background-color: $background-color-alt;
    border: 1px solid $border-color-alt;
  }

  &.notification-enter {
    opacity: 0;
    transform: scale(0);
  }

  &.notification-enter.notification-enter-active {
    opacity: 1;
    transform: scale(1);
  }

  &.notification-leave {
    opacity: 1;
    height: 0;
  }

  &.notification-leave.notification-leave-active {
    opacity: 0 !important;
    height: 0 !important;
    margin-top: 0 !important;
  }

  .UINotification + & {
    margin-top: 10px;
  }

}

.UINotification-content {
  position: relative;
  padding: 15px 20px;
  display: flex;
}

.UINotification-icon {
  align-self: center;
}

.UINotification-message {
  flex: 1;
  padding: 0 10px;
}

.UINotification-dismiss {
  position: absolute;
  top: 0;
  right: 5px;
}

.UINotification-buttons {
  background-color: $white;
  text-align: center;
  padding: 10px;
}
