@import '../../styles/constants';
@import '../../styles/mixins/mq';

.HomePage {
}

.HomePage-hero {
  position: relative;
  z-index: 0;
  .HomePageHeader {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
  }
}

.HomePageHeader {
  max-width: 1200px;
  margin: 0 auto;
}

.HomePageHeader .Button.default {
  color: $white !important;
}

.HomePage-section {
  width: 100%;
  background-image: linear-gradient(-180deg, #F9F9F9 0%, #F5F5F5 98%);
}

.HomePage-sectionContent {
  width: 100%;
  min-width: 280px;
  margin: 0 auto;
  padding: $vertical-spacing*2 $horizontal-spacing 0 $horizontal-spacing;
  text-align: center;
  .ResponsiveLayout > span {
    text-align: center;
  }
  p {
    color: $color-text-light;
    font-size: .875em;
  }

}

.HomePage-sectionImage {
  margin: $vertical-spacing 0;
  &:last-child {
    margin-bottom: 0;
  }
  img {
    width: 100%;
    max-width: 260px;
    vertical-align: bottom;
  }
}

.HomePage-shouts {
  display: flex;
  overflow-x: auto;
  max-width: 750px;
  margin: 0 auto;
  margin-bottom: $vertical-spacing;

  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
  scroll-snap-destination: 50% 50%;
  scroll-snap-type: mandatory;

  .ShoutPreview-container {
    width: 270px;
    margin: auto;
    padding: $vertical-spacing $horizontal-spacing/2;
    text-align: left;

    scroll-snap-coordinate: 50% 50%;
    flex-shrink: 0;
  }
}

@include smartphone() {
  .HomePage-shouts .ShoutPreview-container {
    width: 250px;
    padding: $vertical-spacing $horizontal-spacing/3;
  }
}

.HomePage-sectionSeparator {
  margin-top: $vertical-spacing*2;
  margin-bottom: $vertical-spacing*2;
  border-top: 1px solid $border-color-dark;
}

.HomePage-section {
  .AppBadge {
    display: inline-block;
    padding: $vertical-spacing $horizontal-spacing/2;
  }
}

.HomePage-section-action {
  .Button-label {
    white-space: normal;
  }
}

p + .HomePage-section-action {
  padding-top: $vertical-spacing;
}
