.searchBarCol54 {
  @media (max-width: 620px) {
    width: 54%;
  }
}
.searchBarCol62 {
  @media (max-width: 620px) {
    width: 62%;
  }
}

.searchBar {

  .form-group {
    z-index: 100;
    .input-group {
      z-index: 100;
    }
    margin-bottom: 0;
  }

  .selectpicker {
    max-width: 100px;
    overflow-x: hidden;
  }

  .selectpicker button {
    background: $shoutit-light-green;
    border: none;
    box-shadow: none;
    height: 32px;
    color: #343837;
    font-size: 14px;
    font-family: "Arial-Bold", sans-serif;
  }

  .selectpicker button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .input-group-addon {
    background-color: #fff;
    border: none;
    padding: 6px;
  }

  .form-control {
    border: none;
    height: 32px;
  }

  .searchButton {
    padding: 0;
    border: none;
  }

  .backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 90;
    background-color: black;
    opacity: 0.3;
  }

  .form-control {
    background-color: #fff;
    padding: 6px;
  }

  #locationSearch {
    border: 1px solid #e1e1e1;
  }

  .list-search {
    z-index: 100;
    position: absolute;
    width: 95%;

    margin-top: -4px;

    padding: 0 20px 0 0;
    overflow: auto;
  }

  .list-search ul {
    background: #fff;
    border-radius: 5px;
    max-height: 500px;
  }

  .list-search ul > li {
    padding: 5px 10px;
    color: #99ca3b;
    font-size: 1.1em;
  }

  .list-search ul > li .list-search-sub li {
    cursor: pointer;
    padding: 2px 10px;
  }

  .list-search ul > li .list-search-sub li a {
    display: block;
  }

  .list-search ul > li .list-search-sub li:not(.more) a {
    color: #7a7a7a;
    text-decoration: none;
  }

  .list-search ul > li .list-search-sub li:hover:not(.more) {
    background: #bfdd6d;
  }

  .list-search ul > li .list-search-sub li.more {
    float: none;
    background: #d3d3d3;
    color: #343837;
  }

}