@import '../styles/constants';
@import '../styles/mixins/mq';

.Modal {
  position: fixed;
  z-index: $z-index-modal;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  &.in {
    opacity: 1;
  }
}

.Modal-dialog {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

@include desktop() {
  .Modal-dialog {
    .Modal.size-medium & {
      max-width: 550px;
    }
    .Modal.size-small & {
      max-width: 450px;
    }
    .Modal.size-x-small & {
      max-width: 385px;
    }
  }
}

.Modal-content {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  position: relative;
  display: flex;
  flex-direction: column;
  background: $white;
  &:focus {
    outline: none;
  }
}

@include tablet() {
  .Modal-content {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

@include desktop() {
  .Modal-content {
    top: 100px;
    border-radius: $border-radius-small;
    box-shadow: $box-shadow-depth-2;
  }
}

.ModalHeader {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: $vertical-spacing $horizontal-spacing/2;
  border-bottom: 1px solid $border-color;
  border-top-left-radius: $border-radius-small;
  border-top-right-radius: $border-radius-small;
}

.ModalHeader-close {
  position: absolute;
  top: 50%;
  right: $horizontal-spacing/2;
  transform: translateY(-50%);
  svg {
    cursor: pointer;
    opacity: .2;
    &:hover {
      opacity: .25;
    }
  }
}

.ModalHeader-content {
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: 500;
  flex: 1;
}

.ModalFooter {
  padding: $vertical-spacing/2 $horizontal-spacing;
  text-align: right;
  border-top: 1px solid $border-color;
  font-size: 0.875em;
  .Button {
    margin: 0 .25em;
    &.default {
      color: $color-text;
      &:hover {
        color: $color-text-light;
      }
    }
    &:last-child {
      margin-right: 0;
    }
    &:first-child {
      margin-left: 0;
    }
    &:first-child:last-child {
      display: block;
      width: 100%;
      margin: 0 auto;
    }
  }
}

@include desktop() {
  font-size: 1em;
}

.ModalFooter-start {
  float: left;
}

.ModalBody {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: $vertical-spacing $horizontal-spacing;
}

@include tablet() {
  .ModalBody {
    flex: 1;
  }
}

.ModalBodyFixed {
  padding: .75rem;
}

.Modal-backdrop {
  position: fixed;
  z-index: $z-index-modal-backdrop;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .4;
  background-color: #000;
}

.Modal-animation-leave {
  .Modal-backdrop {
    opacity: .4;
  }
  .Modal-dialog {
    opacity: 1;
  }
}

.Modal-animation-leave.Modal-animation-leave-active {
  .Modal-backdrop {
    transition: opacity 300ms;
    opacity: 0;
  }
  .Modal-dialog {
    transition: opacity 250ms;
    opacity: 0;
  }
}
