@import '../styles/constants';
.Modal {
  position: fixed;
  z-index: $z-index-modal;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  &.in {
    opacity: 1;
  }
}

.Modal-dialog {
  height: 100vh;
  margin: 0 auto;
  .Modal.size-medium & {
    width: 550px;
  }
  .Modal.size-small & {
    width: 450px;
  }
  .Modal.size-x-small & {
    width: 385px;
  }
}

.Modal-content {
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
  border-radius: $border-radius-small;
  background: $white;
  box-shadow: $box-shadow-depth-2;
  &:focus {
    outline: none;
  }
}

.ModalHeader {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: .75rem 1rem;
  border-bottom: 1px solid $border-color;
  border-top-left-radius: $border-radius-small;
  border-top-right-radius: $border-radius-small;
  background-color: $background-color;
}

.ModalHeader-close {
  span {
    cursor: pointer;
    opacity: .7;
    &:hover {
      opacity: 1;
    }
  }
}

.ModalHeader-content {
  margin: 0;
  padding: 0;

  flex: 1;
}

.ModalFooter {
  padding: .5rem 1rem;
  text-align: right;
  border-top: 1px solid $border-color;
  border-bottom-right-radius: $border-radius-small;
  border-bottom-left-radius: $border-radius-small;
  background-color: $background-color-light;

  .Button {
    margin: 0 .25em;
    &:last-child {
      margin-right: 0;
    }
    &:first-child {
      margin-left: 0;
    }
  }

}

.ModalFooter-start {
  float: left;
}

.ModalBody {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  padding: .75rem;
}

.ModalBodyFixed {
  padding: .75rem;
}

.Modal-backdrop {
  position: fixed;
  z-index: $z-index-modal-backdrop;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .4;
  background-color: #000;
}

.Modal-animation-leave {
  .Modal-backdrop {
    opacity: .4;
  }
  .Modal-dialog {
    opacity: 1;
  }
}

.Modal-animation-leave.Modal-animation-leave-active {
  .Modal-backdrop {
    transition: opacity 300ms;
    opacity: 0;
  }
  .Modal-dialog {
    transition: opacity 250ms;
    opacity: 0;
  }
}
