// Base colors

$black: #373837;
$green: #36DD69;
$green-light: #33E96B;
$red: #FF4700;
$blue: #40c4ff;

$grey-light-1: #AFAFAF;
$grey-light-2: #CCCCCC;
$grey-light-3: #E1E1E1;

$white: #FFFFFF;

// Text colors
$color-text: $black;
$color-text-light: $grey-light-1;
$color-text-lighter: $grey-light-2;

// Alternate states colors
$color-primary: $green;
$color-primary-light: $green-light;

$color-secondary: $blue;
$color-secondary-light: $blue;

$color-destructive: $red;
$color-destructive-light: $red;

// Buttons colors
$background-color-button-primary: $color-primary;
$background-color-button-primary-hover: $color-primary-light;

$background-color-button-secondary: $color-secondary;
$background-color-button-secondary-hover: $color-secondary;

// Popup colors
$background-color-popup-header: $color-primary;
$background-color-popup-header-hover: $color-primary-light;

// Icons
$background-color-badge: $red;

// Fields
$color-placeholder: $grey-light-1;
$border-color-field: $grey-light-2;
$border-color-field-focus: $color-primary;

$input-error: $red;

// Links

$color-link: $color-primary;
$color-link-hover: $color-primary-light;

// Dropdowns

$background-color-dropdown-menu-item: $grey-light-3;
$background-color-dropdown-menu-item-active: $color-primary;

$border-color: $grey-light-3;
$border-color-dark: $grey-light-2;
$border-color-darker: $grey-light-1;
$border-color-alt: #a7d281;

$background-color-light: #FAFAFA;
$background-color: #F9F9F9;
$background-color-dark: #989899;
$background-color-darker: #58585A;
$background-color-alt-light: #F8FAFB;  // slightly green
$background-color-alt: #EEF6E8;  // slightly green
