// Base colors

$black: #373837;
$green: #36DD69;
$green-light: #33E96B;
$red: #FF4700;
$yellow: #FFBF00;
$blue: #40C4FF;

$grey: #6B6B6B;
$grey-light-1: #AFAFAF;
$grey-light-2: #CCC;
$grey-light-3: #E1E1E1;
$grey-light-5: #EEE;
$grey-light-6: #F5F5F5;
$grey-light-4: #FAFAFA;
$white: #FFF;

// Text colors
$color-text: $black;
$color-text-light: $grey-light-1;
$color-text-lighter: $grey-light-2;

// Alternate states colors
$color-primary: $green;
$color-primary-light: $green-light;
$color-secondary: $blue;
$color-secondary-light: lighten($blue, 10);
$color-alternate: $yellow;
$color-alternate-light: lighten($yellow, 10);
$color-destructive: $red;
$color-destructive-light: $red;

// Buttons colors
$background-color-button-primary: $color-primary;
$background-color-button-primary-hover: $color-primary-light;
$background-color-button-secondary: $color-secondary;
$background-color-button-secondary-hover: $color-secondary;

// Popup colors
$background-color-popup-header: $color-primary;
$background-color-popup-header-hover: $color-primary-light;

// Icons
$background-color-badge: $red;

// Fields
$color-placeholder: $grey-light-1;
$border-color-field: $grey-light-2;
$border-color-field-focus: $color-primary;
$input-error: $red;

// Links

$color-link: $color-primary;
$color-link-hover: $color-primary-light;

// Shout types
$color-offer: $blue;
$color-request: $red;

// Dropdowns

$background-color-dropdown-menu-item: $grey-light-3;
$background-color-dropdown-menu-item-active: $color-primary;
$border-color: $grey-light-5;
$border-color-dark: $grey-light-3;
$border-color-darker: $grey-light-1;
$border-color-alt: #A7D281;
$background-color: $grey-light-4;
$background-color-light: $grey-light-6;
$background-color-dark: #989899;
$background-color-darker: #242424;
$background-color-alt: #F8FAFB;  // slightly green
