$border-radius: 5px;
$border-radius-small: 3px;

$content-width: 1180px;
$header-height: 70px;

$page-width-column: 220px;
$page-column-margin: .75rem;
$page-body-padding-horizontal: 1rem;

$icon-size-small: 18px;
$icon-size-medium: 24px;
$icon-size-large: 36px;
$icon-size-huge: 52px;
