
$z-index-header: 4000;
$z-index-conversation-host: 1001;
$z-index-page-sticky: 1000;

$z-index-modal-backdrop: 4020;
$z-index-modal: 4021;

$z-index-profile-cover: 3999;
$z-index-profile-cover-editing: 4001;

$zindex-popover: 5000;
$zindex-tooltip: 6000;