#root {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.StorybookContent {
  background-color: white;
  padding: 1rem;
  box-shadow: 0px 0px 4px rgba(black, .2);
}
