@import '../styles/constants';

.GoogleStaticMap {
  position: relative;
  display: block;
  width: 100%;
  max-width: 640px; // limit by google maps free API
  padding-bottom: 50%;
  margin: 0 auto;
  span {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background-position: center;
  }
}
