
$contentWidth: 1180px;
$headerHeight: 74px;

.App {
  position: relative;
}

.App-header {
  z-index: 2;
  width: 100%;
  position: fixed;
  background-color: white;
  box-shadow: 0 1px 2px rgba(black, 0.1);

  .Header {
    height: $headerHeight;
    width: $contentWidth;
    margin: 0 auto;
  }

}

.App-content {
  z-index: 0;
  padding-top: ($headerHeight + 10px);
  width: $contentWidth;
  margin: 0 auto;
}
