@import "../constants/dimensions.scss";

.App {
  position: relative;
}

.App-header {
  z-index: 2;
  width: 100%;
  position: fixed;
  background-color: white;
  box-shadow: 0 1px 2px rgba(black, 0.1);
  -webkit-font-smoothing: subpixel-antialiased;

  .Header {
    height: $header-height;
    width: $content-width;
    margin: 0 auto;
  }

}

.App-content {
  z-index: 0;
  width: $content-width;
  margin: 0 auto;

  .App.stickyHeader & {
    padding-top: ($header-height + 10px);
  }

}
