@import "../constants/colors.scss";

$border-radius: 5px;

.Button {
  display: inline-block;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  border-radius: $border-radius;
  height: 36px;
  line-height: 32px;
  background-color: transparent;

  white-space: nowrap;

  -webkit-appearance: none;
  border: 1px solid transparent;
  padding: 0;

  &:not(.disabled):hover {
    .Button-label {
      color: $si-green;
    }
  }

  &.size-small {

    height: 32px;
    line-height: 28px;

    > .Button-label {
      padding-left: 10px;
      padding-right: 10px;
      font-size: 14px;
    }

  }

  &.size-large {

    height: 42px;
    line-height: 38px;

    > .Button-label {
      padding-left: 30px;
      padding-right: 30px;
      font-size: 18px;
      font-weight: 300;
    }

  }

  &.block {
    display: block;
    width: 100%;
    > .Button-icon {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

}

  .Button-label {
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    vertical-align: middle;
    .Button.with-icon > & {
      display: inline-block;
    }
  }

  .Button-icon {
    display: inline-block;
    vertical-align: middle;
    height: inherit;
    padding-left: 5px;
    padding-right: 5px;
  }

  .Button + .Button:not(.block) {
    margin-left: 10px;
  }
  .Button + .Button.block {
    margin-top: 10px;
  }

  .Button.outline {
    border: 1px solid $si-green;
    .Button-label {
      color: $si-green;
    }
    &:not(.disabled):hover {
      background-color: $si-green;
      .Button-label {
        color: white;
      }
    }
  }

  .Button.primary {
    border: 0;
    background-color: $si-green;
    &:not(.disabled):hover {
      background-color: darken($si-green, 10);
      .Button-label {
        color: white;
      }
      .Button-icon {
        background-color: darken($si-green, 20);
      }
    }
    .Button-label {
      color: white;
    }
    .Button-icon {
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
      background-color: darken($si-green, 10);
    }
  }

  .Button.secondary {
    border: 0;
    background-color: $si-orange;

    &:not(.disabled):hover {
      background-color: darken($si-orange, 10);
      .Button-label {
        color: white;
      }
      .Button-icon {
        background-color: darken($si-orange, 20);
      }
    }
    .Button-label {
      color: white;
    }
    .Button-icon {
      background-color: darken($si-orange, 10);
    }
  }

  .Button.destructive {
    border: 0;
    background-color: $si-red;
    &:not(.disabled):hover {
      background-color: darken($si-red, 10);
      .Button-label {
        color: white;
      }
      .Button-icon {
        background-color: darken($si-red, 20);
      }
    }
    .Button-label {
      color: white;
    }
    .Button-icon {
      background-color: darken($si-red, 10);
    }
  }

  .Button.disabled {
    cursor: default;
    opacity: 0.5;
  }


/* Special buttons */

$facebook-base-color: #395185;
.Button.facebook {
  background-color: lighten($facebook-base-color, 10);
  color: white;
  .Button-icon {
    background-color: $facebook-base-color;
  }
  .Button-label {
    color: white;
  }
  &:not(.disabled):hover {
    color: white;
    background-color: $facebook-base-color;
    .Button-label {
      color: white;
    }
    .Button-icon {
      background-color: darken($facebook-base-color, 10);
    }
  }
}

$google-base-color: darken(#DC4E41, 10);
.Button.google {
  background-color: lighten($google-base-color, 10);
  color: white;
  .Button-icon {
    background-color: $google-base-color;
  }
  .Button-label {
    color: white;
  }
  &:not(.disabled):hover {
    color: white;
    background-color: $google-base-color;
    .Button-label {
      color: white;
    }
    .Button-icon {
      background-color: darken($google-base-color, 10);
    }
  }
}
