.si-card {
  @include paper();
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 15px;
  overflow: hidden;
  float: left;
  transition: all .2s;
  // General stuff
  &.gray-card {
    background-color: $si-card;
  }
  p {
    padding: 10px;
    font-size: 1.3rem;
    color: $si-light-gray;
  }

  .card-header {
    height: 32px;
    border-bottom: 1px solid lighten($si-light-gray2,5%);
    h3 {
      text-transform: uppercase;
      font-size: 1.4rem;
      font-weight: 700;
      padding: 8px 12px;
      color: $si-light-gray2;
    }
    .more-btn, .refresh-btn {
      @include noSelection();
      color: $si-light-gray2;
      font-size: 1.2rem;
      margin: 7px 10px 0 0;
      cursor: pointer;
      &:hover {
        color: darken($si-light-gray2, 20%);
      }
    }
  }
  ul {
    list-style: none;
    padding: 8px 15px 0;
    float: left;
    li {
      display: block;
      line-height: 3.0rem;
      div {
        float: left;
        margin-top: 5px;
        margin-right: 13px;
      }
      a,span {
        font-size: $default-font-size;
      }
    }
  }
  .card-list-img {
    padding: 10px 5px 0 10px;
  }
  .card-list-item {
    font-size: $default-font-size;
    padding-top: 13px;
    cursor: pointer;
    a:hover {
      color: darken($si-gray, 20%);
    }
  }
  .card-listen-btn {
    margin-top: 15px;
    cursor: pointer;
  }
  // Specific Cards
  ul.profile {
    li > div {
      margin-right:20px;
    }
  }
  .tag-card-icon {
    margin: 6px;
  }
  .page-button {
    @include colored-button(120px, 34px, 1.5rem, $si-orange);
    margin: 10px auto;
    display: block;
  }
  &.shout-owner-card {
    position: relative;
    .owner-info-left {
      margin: 15px 0;
      padding-left:5px;
    }
    .owner-info-right {
      margin-top : 18px;
      a {
        display: block;
        font-size: 1.6rem;
        font-weight: 700;
        color: $si-gray;
      }
      span {
        color: $si-gray;
        padding: 8px;
        font-size: 12px;
      }
    }
    .holder {
      width: 191px;
      margin: 0 auto;
      .owner-contact-action {
        position: relative;
        cursor: pointer;
        text-align: center;
        div {
          margin: 0 auto;
        }
        span {
          margin: 5px 0;
          font-size: 1.2rem;
        }
        .listeners-count {
          color: $si-dark-green;
          font-size: 2.0rem;
          font-weight: 700;
          position: absolute;
          top: -10px;
          right: 7px;
        }
      }
      .owner-contact-details {
        float: left;
        color: $si-light-gray;
        span {
          font-size: 1.2rem;
        }
      }
    }

  }
  &.share-shout-card {
    .card-header {
      & > div {
        display: inline-block;
        margin-left: 10px;
      }
      h3 {
        display: inline-block;
      }
    }
    .share-button {
      margin-top: 20px;
      .share-count-holder {
        display: inline-block;
      }
      .icon {
        display: inline-block;
        margin-left: 15px;
        vertical-align: middle;
        cursor: pointer;
      }
      .share-bubble {
        margin-left: 5px;
      }
      .share-count {
        position: relative;
        margin-left: -25px;
      }
    }
    .report-button {
      font-size: 1.2rem;
      color: $si-gray;
      padding: 10px;
      vertical-align: super;
    }
  }
  &.suggest-shout-card {
    .suggest-image {
      background-size: cover;
      width: 100%;
      height: 183px;
    }
    .suggest-title {
      padding: 5px;
      font-size: $default-font-size;
    }
    .suggest-price {
      font-size: 1.2rem;
      color: $si-dark-green;
    }
    .suggest-user {
      color: $si-light-gray;
      font-size: 1.2rem;
      padding: 5px;
    }
  }
  .owner-controls-card {
    span {
      font-size: 1.4rem;
      color: $si-gray;
    }
  }
  &.search-card {
    background: transparent;
    box-shadow: none;
    overflow: visible;
    .search-card-btn {
      @include green-button(100%, 25px, 1.4rem);
      display: block;
      margin: 3px auto;
    }
    .search-filters {
      width: 100%;
      min-height: 100px;
      padding: 10px;
      @include paper();
      p {
        color: $si-light-gray;
        font-size: 1.2rem;
      }
      .search-card-catselect {
        & > div:nth-child(2) {
          overflow-y: scroll!important;
          max-height: 200px;
        }
      }
      input[type=number] {
        width: 60px;
        height: 25px;
        font-size: 1.2rem;
        margin: 5px 10px 10px 0;
        padding: 3px;
        border-radius: 3px;
        background: $si-white;
        color: $si-gray;
        outline: 0;
        border: 1px solid $si-light-gray;
        &:focus {
          -webkit-box-shadow: none;
          box-shadow: none;
          border: 2px solid $si-green;
        }
      }
    }
  }
  &.promotion-card {
    .prom-image {
      background-size: cover;
      width: 100%;
      height: 300px;
    }
    .prom-title {
      padding: 5px;
      color: $si-gray;
      text-align: center;
      font-size: $default-font-size;
    }
  }
  &.tag-profile-card {
    .tag-logo {
      width: 40px;
      height: 40px;
      border: 2px solid $si-green;
      border-radius: 20px;
      padding: 10px;
      margin: 10px auto;
    }
    .tag-name {
      font-size: 1.7rem;
      font-weight: 600;
      color: lighten($si-gray, 10%);
      margin: 10px;
      text-align: center;
    }
  }
}
.user-controls-card {
  .back-btn {
    @include colored-button(100%, 25px, 1.4rem, $si-light-blue);
    margin: 6px 0;
  }
  .prev-btn, .next-btn {
    @include colored-button(100%, 25px, 1.2rem, lighten($si-gray, 10%));
    margin: 0;
  }
  .next-btn {
    margin-left: 14px;
  }
}
