@import "../colors.scss";
@import "../_flexbox.scss";
@import "../pages/mixins.scss";

.Header {
  position: relative;
  @include flexbox();
  @include align-items(center);
  @include paper();
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.8);
  height: 74px;
  margin-bottom: 5px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.Header-logo {
  padding: 20px;
}

.Header-separator {
  margin: 0 10px;
  position: relative;
  top: 6px;
  display: inline-block;
  height: 20px;
  position: relative;
  content: "";
  border-right: 1px solid #ccc;
}

.Header-tools {
  text-align: right;
  &.loggedOut {
    margin-right: 40px;
  }
  &.loggedIn {
    margin-left: 16px;
  }
}

.Header-search {
  @include flexbox();
  @include flex(1);
  @include align-items(center);
  margin-right: 30px;
}

.Header-overlay {
  margin-top: 5px;
  position: absolute;
  z-index: 1000;
  max-width: 400px;
  border: 1px solid $border-color-dark;
  @include paper();
}
