.si-header {
  padding-top:19px;
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.8);
  background: $si-white;
  height: 74px;
  margin-bottom: 10px;
  .header-logo {
    padding-left:20px;
  }
  .header-search {
    padding-left: 20px;
  }
  /* search bar custom adjustments for home page*/
  .search-bar {
      width: 408px;
    .search-button {
      right: 10px;
      top: -34px;
    }
    .form-group {
      margin-bottom: 0;
    }
  }
  .selectpicker {
      button {
        font-size: 1.4rem;
        div { /* location icon*/
          margin-top: -6px;
        }
      }
  }
  .topbar-buttons {
    & > div {
      float:left;
      margin: 8px;
    }
    .topbar-links > a {
      margin: -3px 26px 0 0;
      font-size: 1.6rem;
      float: left; 
    }
    .topbar-create {
      margin-left: 21px;
      margin-top: 0;
    }
  }
}
