@import "../colors.scss";

ul.HeaderProfileOverlay {
  display: block;
  list-style: none;
  margin: 0;
  padding: 5px 0;
  li {
    margin: 0;
    padding: 0;
  }
}

.HeaderProfileOverlay {
  min-width: 150px;
  a {
    line-height: 20px;
    display: block;
    padding: 5px 0;
    color: $si-white;
    &:hover {
      background-color: #3A3A3A;
      color: $si-white;
    }
    .SVGIcon {
      margin: 0 10px;
    }
  }


}
