@import "../colors.scss";
@import "../_flexbox.scss";

.HeaderProfile {
  display: table;
  > div {
    display: table-cell;
    padding: 0 5px;
    vertical-align: middle;
  }
  a {
    line-height: 0
  }
}

.HeaderProfile-profileLink {
  cursor: pointer;
  padding: 0 10px;
}

.HeaderProfile-newShout {
  @include flexbox();
  cursor: pointer;
  background-color: $si-green;
  border-radius: 4px;
  > span:first-child  {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    @include flex(1);
    padding: 4px;
    background-color: $si-dark-green;
  }
  > span:last-child  {
    display: inline-block;
    line-height: 32px;
    font-size: 14px;
    color: white;
    padding: 0px 10px;
    background-color: $si-green;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}
