.si-loc-search {
  position: relative;
  .loc-search-input {
    height: 35px;
    width: 350px;
    background: $si-white;
    color: lighten($si-gray,10%);
    &.selected {
      background: $si-green;
      color: $si-white!important;
    }
  }
  .loc-search-list {
    position: absolute;
    width: 350px;
    background: $si-white;
    top: 33px;
    z-index:1;
    border: 1px solid $si-light-gray2;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    opacity:0.9;
    .item {
      color: $si-gray;
      cursor: pointer;
      line-height: 2rem;
      padding: 5px;
      &:hover {
        background: $si-green;
        color: $si-white;
      }
    }
  }
}