@import "../colors.scss";
@import "../pages/mixins.scss";

.Overlay {
  position: absolute;
  z-index: 1000;
  border: 1px solid $border-color-dark;
  background-color: white;
  // ⚠️ if you change the shadow remember to update the arrows-* PNG ui-elements
  // to match the new shadow!
  box-shadow: 0 0 10px rgba(black, 0.2);
  &.arrow.bottom {
    transform: translateY(18px);
  }
  &.inverted {
    border-color: rgba(#535353, .97);
    background-color: rgba(#535353, .97);
  }
}

.Overlay-arrow {
  position: absolute;
  width: 46px;
  height: 18px;
  background-size: contain;
  .Overlay.bottom & {
    top: 0;
    transform: translate(-24px, -18px);
    background-image: url("../../../../assets/ui-elements/overlays/arrow-bottom.png");
  }
  .Overlay.bottom.inverted & {
    background-image: url("../../../../assets/ui-elements/overlays/arrow-bottom-inverted.png");
  }
}
