@import "../constants/defaults";
@import "../constants/colors.scss";

.si-shelf-button {
  cursor: pointer;
  width: 100%;
  padding-top: 12px;
  .img-holder {
    position: relative;
    height: 26px;
    .icon {
      margin: 0 auto;
    }
  }
  .text-holder {
    height: 25px;
    overflow: hidden;
    text-align: center;
    font-size: 1.3rem;
  }
  &.loading {
    cursor: progress;
    .text-holder {
      font-size: 1.1rem;
      color: $si-light-gray;
    }
  }
  &.disabled {
    cursor: not-allowed;
  }
  &.not-clickable {
    cursor: auto;
  }
}
