.si-shout {
  position:relative;
  display: table;
  width: 700px;
  min-height: 150px;
  background-color: $si-white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  transition: all .2s ease-in;
  .shout-header {
    height: 42px;
    border-bottom: 1px solid lighten($si-light-gray2, 15%);
    h3.user {
      font-size: 1.5rem;
      font-weight: 700;
      padding: 12px 0;
      margin-left: 8px;
      color: $si-light-gray;
      float: left;
    }
    span.time {
      font-size: 1.3rem;
      color: $si-light-gray;
      float: right;
      margin: 12px;
    }
    .user-image {
      float: left;
      margin: 5px 10px 5px 17px;
    }
  }
  .shout-body {
    display: table-row;
    .title-holder {
      width: 500px;
      margin: 14px 15px;
      .shout-title {
        font-size: $default-font-size;
        font-weight: 700;
        color: $si-blue;
        display: inline-block;
      }
      .shout-cat {
        font-size: $default-font-size;
        color: $si-blue;
      }
    }
    .shout-price {
      position: absolute;
      top: 55px;
      right: 15px;
      float: right;
      font-size: $default-font-size;
      font-weight: 700;
      color: darken($si-green, 10%);
    }
    .body-holder {
      .body-text {
        display: table;
        p {
          padding: 10px 20px;
          overflow: hidden;
        }
        .shout-footnote {
          display: table;
          margin: 0 auto;
          width: 100%;
          & > span {
            display: table-cell;
            width: 33%;
            text-align: center;
            & > img {
              height: 23px;
              margin: 5px 0;
              vertical-align: sub;
              cursor: pointer;
            }
            & > .shout-chat-icon {
              height: 20px;
              margin: 5px auto;
              cursor: pointer;
            }
          }
          
        }
        
      }
      .shout-img {
        float: left;
        max-width: 440px;
        padding: 10px 0 20px 20px;
      }
    }
  }
  .shout-footer {
    display: table;
    width: 100%;
    background: #f8f9f8;
    border-top: 1px solid $si-light-gray2;
    border-bottom: 1px solid $si-light-gray2;
    .user-image {
      float: left;
      margin: 11px;
    }
    .form-group {
      width: 620px;
      margin-top: 11px;
      float: left;
      input {
        width: 620px;
        height: 36px;
        border: 1px solid $si-light-gray2;
        border-radius: 0;
        padding-right:35px;
        &:focus {
          border-color: darken($si-light-gray2, 10%);
        }
      }
    }
    .shout-send {
      position: relative;
      display:inline-block;
      left: -33px;
      top: 18px;
      cursor: pointer;
    }
  }
}

.si-shout-grid {
  position: relative;
  width: 220px;
  height: 240px;
  background-color: $si-white;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin: 10px 0;
  overflow:hidden;
  cursor: pointer;
  transition: all .2s ease-out;
  .img {
    width: 220px;
    height: 180px;
    background-size: cover;
    overflow: hidden;
  }
  h3, a {
    color: $si-light-gray;
    font-size: 1.6rem;
    font-weight: 400;
    margin: 10px;
    height: 18px;
    overflow: hidden;
    &:hover {
      color: darken($si-light-gray, 5%);
    }
  }
  .subtitle {
    margin: 0 10px 10px 10px;
    font-size:1.3rem;
    color: $si-light-gray2;
    float:left;
    width: 155px;
  }
  .price {
    color: $si-green;
    float:right;
    font-size:1.3rem;
    margin-right: 10px;
  }
  &:hover {
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.25);
  }
}