@import "../colors.scss";
@import "../defaults.scss";

.ShoutPreview {
  position:relative;
  display: block;
  width: 700px;
  min-height: 150px;
  background-color: $si-white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  transition: all .2s ease-in;
}

.ShoutPreview-caption {
  display: block;
  .ShoutPreview-title {
    margin: 15px;
    color: $si-blue;
    display: inline-block;
  }
  .SoutPreview-cat {
    color: $si-blue;
  }
  .ShoutPreview-price {
    margin: 10px 20px 0 0;
    color: darken($si-green, 10%);
    text-align: right;
  }
  .bold {
    font-size: $default-font-size;
    font-weight: 700;
  }
}

.ShoutPreview-body {
  p {
    padding: 10px 20px;
    overflow: hidden;
  }
}

.ShoutPreview-footnote {
  text-align: center;
}

.ShoutPreview-image {
  float: left;
  width: 100%;
  height: 350px;
  background-color: $si-light-gray;
  background-size: cover;
  margin: 10px;
  transition: 0.2s all;
  &.default {
    background-size: 120%;
  }
}

.ShoutPreview-heading {
  height: 42px;
  border-bottom: 1px solid lighten($si-light-gray2, 15%);
  .ShoutPreview-user {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 12px 0;
    margin-left: 5px;
    color: $si-light-gray;
    float: left;
  }
  .ShoutPreview-date {
    font-size: 1.3rem;
    color: $si-light-gray;
    float: right;
    margin: 10px 20px;
  }
  .UserAvatar {
    float: left;
    margin: 2.5px 0 2.5px 15px;
  }
}
