.si-shout-detail {
  position:relative;
  width: 700px;
  min-height: 150px;
  background-color: $si-white;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  transition: all .2s ease-in;
  padding: 25px;
  float: left;
  .shout-title {
    font-size: $default-font-size;
    font-weight: 700;
    color: $si-blue;
    display: inline-block;
  }
  .shout-text {
    font-size:1.4rem;
    margin-top: 10px;
  }
  .shout-type {
    padding: 3px 8px;
    border-radius: 3px;
    border: 1px solid $si-light-gray2;
    margin-left: 10px;
    color: $si-light-gray2;
    cursor: pointer;
    &:hover {
      background: $si-light-gray2;
      color: $si-white;
    }
  }
  .price-offer {
    position: relative;
    top: 0;
    right: -33px;
    background: $si-green;
    padding: 5px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    color: $si-white;
    font-size: $default-font-size;
    font-weight: 600;
    text-align: center;
    &:after {
      content: '';
      position: absolute;
      transform: rotate(-180deg);
      width: 0;
      height: 0;
      right: 0;
      bottom: -7px;
      border-left: 8px solid transparent;
      border-right: 0px solid transparent;
      border-bottom: 8px solid #62AD22;
    }
  }

}