@import "../colors.scss";
@import "../defaults.scss";

.ShoutPreview {
  position:relative;
  display: block;
  width: 700px;
  min-height: 150px;
  background-color: $si-white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  transition: all .2s ease-in;
}

.ShoutPreview-caption {
  display: block;
  .ShoutPreview-title {
    margin: 15px;
    color: $si-blue;
    display: inline-block;
  }
  .SoutPreview-cat {
    color: $si-blue;
  }
  .ShoutPreview-price {
    margin: 15px;
    color: darken($si-green, 10%);
    text-align: right;
  }
  .bold {
    font-size: $default-font-size;
    font-weight: 700;
  }
}

.ShoutPreview-body {
  display: table;
  p {
    padding: 10px 20px;
    overflow: hidden;
  }
  .shout-footnote {
    display: table;
    margin: 0 auto;
    width: 100%;
    & > span {
      display: table-cell;
      width: 33%;
      text-align: center;
      & > img {
        height: 23px;
        margin: 5px 0;
        vertical-align: sub;
        cursor: pointer;
      }
      & > .shout-chat-icon {
        height: 20px;
        margin: 5px auto;
        cursor: pointer;
      }
    }

  }
}

.ShoutPreview-image {
  float: left;
  width: 440px;
  height: 350px;
  background-color: #6e6e6e;
  background-size: cover;
  margin: 15px;
  transition: 0.2s all;
  &.default {
    background-size: 200%;
  }
}

.ShoutPreview-heading {
  height: 42px;
  border-bottom: 1px solid lighten($si-light-gray2, 15%);
  .ShoutPreview-user {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 12px 0;
    margin-left: 8px;
    color: $si-light-gray;
    float: left;
  }
  .ShoutPreview-date {
    font-size: 1.3rem;
    color: $si-light-gray;
    float: right;
    margin: 12px;
  }
  .UserAvatar {
    float: left;
    margin: 5px 10px 5px 17px;
  }
}
