.si-button_2 {
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
  color: $si-white;
  span {
    margin: auto;
  }
  &.green {
    background-color: $si-green;
  }
  &.dark-green:hover {
    background-color: darken($si-green, 15%);
  }
  &.blue {
    background-color: $si-light-blue;
  }
  &.dark-blue:hover {
    background-color: darken($si-light-blue, 15%);
  }
  &.gray {
    background-color: $si-gray;
  }
  &.dark-gray:hover {
    background-color: darken($si-gray, 15%);
  }
  &.orange {
    background-color: $si-orange;
  }
  &.dark-orange:hover {
    background-color: darken($si-orange, 15%);
  }
}