@import "../constants/defaults.scss";
@import "../constants/colors.scss";

.TagButtons {
  display: inline-block;
  margin:15px;
}
.TagButtons-button {
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid darken($si-green, 10%);
  background: $si-white;
  margin: 3px;
  transition: all .1s ease-out;
  color: $si-green;
  font-size: $default-font-size;
  line-height: 1.8rem;
  &:hover {
    background: lighten($si-green, 10%);
    border-color: $si-white;
    color: $si-white;
  }
}
