
.UserAvatar {
  display: inline-block;
  width: 36px;
  height: 36px;
  
  img {
    width: inherit;
    height: inherit;
  }

  // &.clip img {
  //   -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  //   clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  // }

}
