
.VideoCallHost {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 300px;
  width: 300px;
  z-index: 100000;
  background-color: white;
}

  .VideoCallHost-remoteMedia {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    video {
      width: inherit;
      height: 100%;
    }
  }

  .VideoCallHost-localMedia {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;

    video {
      width: inherit;
      height: 100%;
    }
  }
