@import '../../styles/constants.scss';

.ShoutPageCategory {
  margin: $vertical-spacing/2 0;
  display: flex;
  flex-wrap: wrap;
  > div {
    padding: $vertical-spacing/2 0;
    border-top: 1px solid $border-color;
    flex: 1 0 50%;
  }
  h3 {
    font-size: 0.75em;
    font-weight: normal;
    color: $color-text-light;
    text-transform: uppercase;
  }
}

a.ShoutPageCategory-Filters-value {
  font-size: 0.875em;
  color: $color-text;
}