@import '../../styles/constants.scss';
@import '../../styles/mixins/mq.scss';

.ShoutPage {
  h1 {
    font-size: 1.5em;
    font-weight: 500;
  }

  h2 {
    font-size: 1em;
    font-weight: 500;
  }
}

.ShoutPage-Header {
  @include desktop() {
    padding: 0;
    padding-bottom: $vertical-spacing;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $vertical-spacing/2 $horizontal-spacing/2;
}

.ShoutPage-Header-profile {
  a > .ListItem {
    color: $color-link;
  }
}

.ShoutPage-Header-date {
  color: $color-text-light;
  font-size: .875em;
}

.ShoutPage-MainCard {
  @include desktop() {
    padding: $vertical-spacing $horizontal-spacing*2;
  }
  padding: $vertical-spacing $horizontal-spacing/2;
}

.ShoutPage-AsideCard {
  @include desktop() {
    position: relative;
  }
  position: fixed;
  z-index: 100;
  right: 0;
  bottom: 0;
  left: 0;
  padding: $vertical-spacing $horizontal-spacing;
}

.ShoutPage-Price {
  display: flex;
  justify-content: space-between;
  margin: $vertical-spacing 0;
  .ShoutPrice {
    font-size: 1.5em;
  }
  .ShoutType {
    font-size: 1em;
    font-weight: 500;
  }
}

.ShoutPage-Share {
  margin: $vertical-spacing 0;
  .Share {
    max-width: 300px;
    margin: 0 auto;
  }
}

.ShoutPage-Actions {
  > div + div {
    margin-top: $vertical-spacing/2;
  }
}

.ShoutPage-Related {
  @include desktop() {
    margin: $horizontal-spacing;
  }
  margin-top: $vertical-spacing/2;
  padding: 0 $horizontal-spacing/2;
  .ShoutsList {
    overflow: auto;
    justify-content: flex-start;

    -webkit-overflow-scrolling: touch;
    scroll-snap-destination: 50% 50%;
    scroll-snap-type: mandatory;
    flex-wrap: nowrap;
  }
  .ShoutsList-item {
    scroll-snap-coordinate: 50% 50%;
  }
}

.ShoutPage-Location {
  .GoogleStaticMap {
    margin-top: $vertical-spacing;
  }
}